# Uvod v Pandas

## Understanding pandas and NumPy


<p></p><center><img alt="anatomy of a dataframe" src="images/df_anatomy_static_resized.svg"></center><p></p>

## About pandas

## Importing pandas

In [9]:
#pandas omogoča labele za vrstice in stolpce
#dataframe-i lahko vsebujejo različne podatkovne tipe

In [10]:
import pandas as pd
import numpy as np

In [11]:
pd.__version__

'1.0.1'

In [12]:
pd.

SyntaxError: invalid syntax (<ipython-input-12-bc888235687a>, line 1)

In [ ]:
pd?

More detailed documentation, along with tutorials and other resources, can be found at http://pandas.pydata.org/.

## Introduction to the Data

<p>The data set is a CSV file called <code>f500.csv</code>. Here is a data dictionary for some of the columns in the CSV:</p>
<ul>
<li><code>company</code>: Name of the company.</li>
<li><code>rank</code>: Global 500 rank for the company.</li>
<li><code>revenues</code>: Company's total revenue for the fiscal year, in millions of dollars (USD).</li>
<li><code>revenue_change</code>: Percentage change in revenue between the current and prior fiscal year.</li>
<li><code>profits</code>: Net income for the fiscal year, in millions of dollars (USD).</li>
<li><code>ceo</code>: Company's Chief Executive Officer.</li>
<li><code>industry</code>: Industry in which the company operates.</li>
<li><code>sector</code>: Sector in which the company operates.</li>
<li><code>previous_rank</code>: Global 500 rank for the company for the prior year.</li>
<li><code>country</code>: Country in which the company is headquartered.</li>
</ul>
</div>

In [13]:
f500 = pd.read_csv('data/f500.csv', index_col = 0)
f500.index.name = None
f500

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Teva Pharmaceutical Industries,496,21903,11.5,329.0,92890,-79.3,Yitzhak Peterburg,Pharmaceuticals,Health Care,0,Israel,"Petach Tikva, Israel",http://www.tevapharm.com,1,56960,33337
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [14]:
type(f500)

pandas.core.frame.DataFrame

In [15]:
f500.shape

(500, 16)

## Introducing Pandas Objects - Data Structures

<ol class=""><li id="5a05" class="mr ms dz ap mu b mv mw mx my mz na nb nc nd ne nf od oe of" data-selectable-paragraph="">Series — 1D (can be understood as columns of a spreadsheet)</li><li id="bdf1" class="mr ms dz ap mu b mv og mx oh mz oi nb oj nd ok nf od oe of" data-selectable-paragraph="">DataFrame — 2D (can be understood as a single spreadsheet)</li><li id="6491" class="mr ms dz ap mu b mv og mx oh mz oi nb oj nd ok nf od oe of" data-selectable-paragraph="">Panel — 3D (can be understood as a group of spreadsheets)</li></ol>

<table class="table table-bordered">
<tbody><tr>
<th style="text-align:center;">Data Structure</th>
<th style="text-align:center;">Dimensions</th>
<th style="text-align:center;">Description</th>
</tr>
<tr>
<td style="text-align:center;">Series</td>
<td style="text-align:center;">1</td>
<td style="text-align:center;">1D labeled homogeneous array, sizeimmutable.</td>
</tr>
<tr>
<td style="text-align:center;">Data Frames</td>
<td style="text-align:center;">2</td>
<td style="text-align:center;">General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed
columns.</td>
</tr>
<tr>
<td style="text-align:center;">Panel</td>
<td style="text-align:center;">3</td>
<td style="text-align:center;">General 3D labeled, size-mutable array.</td>
</tr>
</tbody></table>

## Introducing DataFrames

In [16]:
f500.head() #vrne prvih 5 vrstic

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [17]:
f500.head(7) #vrne prvih 7 vrstic

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Volkswagen,6,240264,1.5,5937.3,432116,NaN,Matthias Muller,Motor Vehicles and Parts,Motor Vehicles & Parts,7,Germany,"Wolfsburg, Germany",http://www.volkswagen.com,23,626715,97753
Royal Dutch Shell,7,240033,-11.8,4575.0,411275,135.9,Ben van Beurden,Petroleum Refining,Energy,5,Netherlands,"The Hague, Netherlands",http://www.shell.com,23,89000,186646

In [18]:
f500.tail(4) #zadnji 4

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
New China Life Insurance,497,21796,-13.3,743.9,100609,-45.6,Wan Feng,"Insurance: Life, Health (stock)",Financials,427,China,"Beijing, China",http://www.newchinalife.com,2,54378,8507
Wm. Morrison Supermarkets,498,21741,-11.3,406.4,11630,20.4,David T. Potts,Food and Drug Stores,Food & Drug Stores,437,Britain,"Bradford, Britain",http://www.morrisons.com,13,77210,5111
TUI,499,21655,-5.5,1151.7,16247,195.5,Friedrich Joussen,Travel Services,Business Services,467,Germany,"Hanover, Germany",http://www.tuigroup.com,23,66779,3006
AutoNation,500,21609,3.6,430.5,10060,-2.7,Michael J. Jackson,Specialty Retailers,Retailing,0,USA,"Fort Lauderdale, FL",http://www.autonation.com,12,26000,2310

In [19]:
f500.dtypes #tipi vrednosti v stolpcih

rank                          int64
revenues                      int64
revenue_change              float64
profits                     float64
assets                        int64
profit_change               float64
ceo                          object
industry                     object
sector                       object
previous_rank                 int64
country                      object
hq_location                  object
website                      object
years_on_global_500_list      int64
employees                     int64
total_stockholder_equity      int64
dtype: object

In [20]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [21]:
f500.info(memory_usage = "deep")

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 286.7 KB

## Pandas Data Selection - indexing

### Selecting a Column From a DataFrame by Label (.loc)

    df.loc[row_label, column_label]

In [22]:
rank_col = f500.loc[:,"rank"]

In [23]:
rank_col = f500["rank"] #izbira stolpca... enakovredno kot zgoraj a krajše
rank_col #notri ostaneta index in izbrani stolpec

Walmart                             1
State Grid                          2
Sinopec Group                       3
China National Petroleum            4
Toyota Motor                        5
                                 ...
Teva Pharmaceutical Industries    496
New China Life Insurance          497
Wm. Morrison Supermarkets         498
TUI                               499
AutoNation                        500
Name: rank, Length: 500, dtype: int64

In [24]:
industries = f500["industry"]
type(industries)

pandas.core.series.Series

In [25]:
industries

Walmart                                     General Merchandisers
State Grid                                              Utilities
Sinopec Group                                  Petroleum Refining
China National Petroleum                       Petroleum Refining
Toyota Motor                             Motor Vehicles and Parts
                                               ...
Teva Pharmaceutical Industries                    Pharmaceuticals
New China Life Insurance          Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                    Food and Drug Stores
TUI                                               Travel Services
AutoNation                                    Specialty Retailers
Name: industry, Length: 500, dtype: object

In [26]:
industries.values

array(['General Merchandisers', 'Utilities', 'Petroleum Refining',
       'Petroleum Refining', 'Motor Vehicles and Parts',
       'Motor Vehicles and Parts', 'Petroleum Refining',
       'Insurance: Property and Casualty (Stock)',
       'Computers, Office Equipment', 'Petroleum Refining',
       'Wholesalers: Health Care', 'Petroleum Refining',
       'Health Care: Insurance and Managed Care',
       'Health Care: Pharmacy and Other Services',
       'Electronics, Electrical Equip.', 'Mining, Crude-Oil Production',
       'Motor Vehicles and Parts', 'Motor Vehicles and Parts',
       'Telecommunications', 'Diversified Financials',
       'Motor Vehicles and Parts', 'Banks: Commercial and Savings',
       'Wholesalers: Health Care', 'Engineering, Construction',
       'Insurance: Life, Health (stock)',
       'Internet Services and Retailing',
       'Electronics, Electrical Equip.', 'Banks: Commercial and Savings',
       'Motor Vehicles and Parts', 'Petroleum Refining',
       'Industrial Machinery', 'Telecommunications',
       'Insurance: Life, Health (stock)',
       'Insurance: Property and Casualty (Stock)',
       'Wholesalers: Health Care', 'General Merchandisers',
       'Food and Drug Stores', 'Banks: Commercial and Savings',
       'Insurance: Life, Health (stock)', 'Food and Drug Stores',
       'Motor Vehicles and Parts', 'Banks: Commercial and Savings',
       'Banks: Commercial and Savings', 'Motor Vehicles and Parts',
       'Petroleum Refining', 'Diversified Financials',
       'Telecommunications', 'Banks: Commercial and Savings',
       'Insurance: Life, Health (stock)', 'Telecommunications',
       'Insurance: Life, Health (stock)', 'Motor Vehicles and Parts',
       'Health Care: Pharmacy and Other Services', 'Trading',
       'Engineering, Construction', 'Insurance: Life, Health (stock)',
       'Insurance: Life, Health (stock)', 'Engineering, Construction',
       'Specialty Retailers', 'Aerospace and Defense',
       'Banks: Commercial and Savings', 'Banks: Commercial and Savings',
       'Energy', 'Food Consumer Products',
       'Internet Services and Retailing', 'Industrial Machinery',
       'Food and Drug Stores', 'Motor Vehicles and Parts',
       'Computer Software', 'Health Care: Insurance and Managed Care',
       'Electronics, Electrical Equip.', 'Telecommunications',
       'Banks: Commercial and Savings', 'Banks: Commercial and Savings',
       'Petroleum Refining', 'Motor Vehicles and Parts',
       'Telecommunications', 'Motor Vehicles and Parts',
       'Telecommunications', 'Banks: Commercial and Savings',
       'Information Technology Services', 'Utilities',
       'Network and Other Communications Equipment', 'Utilities',
       'Insurance: Property and Casualty (Mutual)', 'Pharmaceuticals',
       'General Merchandisers', 'Banks: Commercial and Savings',
       'Engineering, Construction', 'Insurance: Life, Health (stock)',
       'Energy', 'Food and Drug Stores', 'Energy',
       'Aerospace and Defense', 'Petroleum Refining',
       'Petroleum Refining', 'Pharmaceuticals',
       'Household and Personal Products',
       'Mail, Package, and Freight Delivery', 'Utilities',
       'Aerospace and Defense', 'Petroleum Refining',
       'Engineering, Construction', 'Banks: Commercial and Savings',
       'Electronics, Electrical Equip.', 'Petroleum Refining',
       'General Merchandisers', 'Banks: Commercial and Savings',
       'Insurance: Property and Casualty (Stock)',
       'Electronics, Electrical Equip.',
       'Insurance: Life, Health (Mutual)',
       'Insurance: Property and Casualty (Stock)',
       'Banks: Commercial and Savings',
       'Insurance: Property and Casualty (Stock)',
       'Mining, Crude-Oil Production', 'Trading',
       'Mail, Package, and Freight Delivery', 'Diversified Financials',
       'Mail, Package, and Freight Delivery', 'Metals',
       'Banks: Commercial and Savings', 'Specialty Retailers',
       'Food and Drug Stores', 'Computers, Office Equipment',
       'Motor Vehicles and Parts', 'Chemicals', 'Petroleum Refining',
       'Insurance: Life, Health (stock)', 'Trading',
       'Health Care: Insurance and Managed Care',
       'Food Consumer Products', 'Petroleum Refining',
       'Telecommunications', 'Food Production', 'Aerospace and Defense',
       'Trading', 'Motor Vehicles and Parts',
       'Mail, Package, and Freight Delivery',
       'Insurance: Life, Health (Mutual)', 'Motor Vehicles and Parts',
       'Food and Drug Stores', 'Insurance: Life, Health (stock)',
       'Trading', 'Semiconductors and Other Electronic Components',
       'Trading', 'Food and Drug Stores',
       'Insurance: Life, Health (stock)',
       'Insurance: Life, Health (stock)', 'Telecommunications',
       'Household and Personal Products', 'Banks: Commercial and Savings',
       'Mining, Crude-Oil Production', 'Telecommunications',
       'Banks: Commercial and Savings', 'Aerospace and Defense', 'Metals',
       'Motor Vehicles and Parts', 'Petroleum Refining', 'Textiles',
       'Petroleum Refining', 'Entertainment', 'Aerospace and Defense',
       'Banks: Commercial and Savings', 'Banks: Commercial and Savings',
       'Food and Drug Stores', 'Health Care: Insurance and Managed Care',
       'Food and Drug Stores', 'Petroleum Refining', 'Pharmaceuticals',
       'Airlines', 'Banks: Commercial and Savings',
       'Diversified Financials', 'Pharmaceuticals', 'Pharmaceuticals',
       'Insurance: Property and Casualty (Stock)', 'Telecommunications',
       'Utilities', 'Aerospace and Defense',
       'Wholesalers: Food and Grocery',
       'Mail, Package, and Freight Delivery',
       'Information Technology Services', 'Food Production',
       'Electronics, Electrical Equip.', 'Petroleum Refining',
       'Utilities', 'Pharmaceuticals',
       'Network and Other Communications Equipment',
       'Insurance: Property and Casualty (Stock)',
       'Banks: Commercial and Savings', 'Engineering, Construction',
       'Food Production', 'Petroleum Refining',
       'Insurance: Property and Casualty (Stock)',
       'Computers, Office Equipment', 'Utilities', 'Chemicals',
       'Food and Drug Stores', 'Food and Drug Stores', 'Pharmaceuticals',
       'Insurance: Life, Health (stock)',
       'Electronics, Electrical Equip.', 'Banks: Commercial and Savings',
       'Petroleum Refining', 'Metals', 'Trading', 'Beverages',
       'Petroleum Refining', 'Metals', 'Motor Vehicles and Parts',
       'Telecommunications', 'Chemicals', 'Railroads',
       'Motor Vehicles and Parts', 'Health Care: Medical Facilities',
       'Trading', 'Banks: Commercial and Savings',
       'Banks: Commercial and Savings', 'Food and Drug Stores',
       'Telecommunications', 'Insurance: Property and Casualty (Stock)',
       'Metals', 'Energy', 'Banks: Commercial and Savings', 'Metals',
       'Building Materials, Glass', 'Computers, Office Equipment',
       'Engineering, Construction', 'Metals', 'Food Production',
       'Banks: Commercial and Savings', 'Energy',
       'Banks: Commercial and Savings', 'Industrial Machinery', 'Apparel',
       'Beverages', 'Motor Vehicles and Parts',
       'Information Technology Services', 'Motor Vehicles and Parts',
       'Food Production', 'Pharmaceuticals', 'Telecommunications',
       'Insurance: Life, Health (Mutual)',
       'Insurance: Life, Health (Mutual)',
       'Health Care: Insurance and Managed Care',
       'Banks: Commercial and Savings', 'Insurance: Life, Health (stock)',
       'Motor Vehicles and Parts', 'Metals', 'Trading',
       'Insurance: Life, Health (stock)', 'Banks: Commercial and Savings',
       'Insurance: Life, Health (stock)', 'Airlines',
       'Insurance: Property and Casualty (Mutual)', 'Pharmaceuticals',
       'Health Care: Insurance and Managed Care', 'Airlines',
       'Specialty Retailers', 'Building Materials, Glass',
       'Electronics, Electrical Equip.',
       'Internet Services and Retailing',
       'Electronics, Electrical Equip.', 'Motor Vehicles and Parts',
       'Construction and Farm Machinery',
       'Insurance: Property and Casualty (Stock)',
       'Insurance: Life, Health (stock)', 'Banks: Commercial and Savings',
       'Textiles', 'Utilities', 'Insurance: Life, Health (Mutual)',
       'Banks: Commercial and Savings', 'Industrial Machinery',
       'Pharmaceuticals', 'Energy', 'Pipelines',
       'Mining, Crude-Oil Production', 'Real estate',
       'Insurance: Life, Health (Mutual)', 'Motor Vehicles and Parts',
       'Computer Software', 'Engineering, Construction', 'Trading',
       'Food Production', 'Banks: Commercial and Savings',
       'Insurance: Life, Health (stock)', 'Utilities', 'Airlines',
       'Insurance: Property and Casualty (Stock)', 'Petroleum Refining',
       'Motor Vehicles and Parts', 'Banks: Commercial and Savings',
       'Banks: Commercial and Savings', 'Food and Drug Stores',
       'Industrial Machinery', 'Trading', 'Computers, Office Equipment',
       'Insurance: Life, Health (Mutual)', 'Shipping', 'Chemicals',
       'Engineering, Construction', 'Motor Vehicles and Parts',
       'Insurance: Property and Casualty (Stock)', 'Airlines',
       'Banks: Commercial and Savings', 'Information Technology Services',
       'Petroleum Refining', 'Real estate', 'Food and Drug Stores',
       'Wholesalers: Food and Grocery', 'Food and Drug Stores',
       'Food and Drug Stores', 'Engineering, Construction',
       'Industrial Machinery', 'Industrial Machinery',
       'Diversified Financials', 'Mining, Crude-Oil Production',
       'Railroads', 'Industrial Machinery', 'Specialty Retailers',
       'Mining, Crude-Oil Production', 'Specialty Retailers', 'Metals',
       'Motor Vehicles and Parts', 'Motor Vehicles and Parts',
       'Food and Drug Stores', 'Mining, Crude-Oil Production',
       'Banks: Commercial and Savings', 'Banks: Commercial and Savings',
       'Banks: Commercial and Savings', 'Engineering, Construction',
       'Apparel', 'Utilities', 'Banks: Commercial and Savings',
       'Industrial Machinery', 'Health Care: Medical Facilities',
       'Aerospace and Defense', 'Mining, Crude-Oil Production',
       'Real estate', 'Mining, Crude-Oil Production',
       'Insurance: Property and Casualty (Stock)', 'Real estate',
       'Insurance: Property and Casualty (Stock)',
       'Motor Vehicles and Parts', 'Utilities', 'Aerospace and Defense',
       'Telecommunications', 'Computers, Office Equipment', 'Trading',
       'Chemicals', 'Mining, Crude-Oil Production',
       'Banks: Commercial and Savings', 'Motor Vehicles and Parts',
       'Motor Vehicles and Parts', 'Banks: Commercial and Savings',
       'Aerospace and Defense', 'Metals', 'Banks: Commercial and Savings',
       'Pharmaceuticals', 'Food Production', 'Petroleum Refining',
       'Miscellaneous', 'Electronics, Electrical Equip.',
       'Building Materials, Glass', 'Industrial Machinery', 'Metals',
       'Shipping', 'Motor Vehicles and Parts', 'Energy',
       'Semiconductors and Other Electronic Components',
       'Mining, Crude-Oil Production', 'Entertainment',
       'Mining, Crude-Oil Production', 'Motor Vehicles and Parts',
       'Chemicals', 'Medical Products and Equipment',
       'Telecommunications', 'Medical Products and Equipment',
       'Insurance: Life, Health (Mutual)',
       'Household and Personal Products', 'Real estate',
       'Wholesalers: Health Care', 'Utilities',
       'Insurance: Life, Health (stock)', 'Petroleum Refining',
       'Food and Drug Stores', 'Airlines', 'Food Services',
       'Oil & Gas Equipment Services', 'Utilities',
       'Computers, Office Equipment', 'Banks: Commercial and Savings',
       'Food and Drug Stores', 'Internet Services and Retailing',
       'Insurance: Property and Casualty (Stock)',
       'Banks: Commercial and Savings', 'Entertainment', 'Energy',
       'Building Materials, Glass', 'Electronics, Electrical Equip.',
       'Aerospace and Defense',
       'Insurance: Property and Casualty (Stock)', 'Energy',
       'Wholesalers: Health Care', 'Utilities',
       'Banks: Commercial and Savings', 'Tobacco',
       'Construction and Farm Machinery', 'Railroads',
       'Insurance: Life, Health (Mutual)', 'Food Consumer Products',
       'Insurance: Life, Health (stock)',
       'Wholesalers: Electronics and Office Equipment',
       'Insurance: Life, Health (stock)',
       'Wholesalers: Electronics and Office Equipment',
       'Network and Other Communications Equipment', 'Pipelines',
       'Utilities', 'Banks: Commercial and Savings',
       'Network and Other Communications Equipment',
       'Motor Vehicles and Parts', 'Food Consumer Products',
       'Insurance: Life, Health (stock)', 'Petroleum Refining',
       'Banks: Commercial and Savings', 'General Merchandisers',
       'Insurance: Property and Casualty (Stock)',
       'Mail, Package, and Freight Delivery', 'Specialty Retailers',
       'Pharmaceuticals', 'Mining, Crude-Oil Production',
       'General Merchandisers', 'Diversified Financials',
       'Mining, Crude-Oil Production', 'Temporary Help', 'Airlines',
       'Food Services', 'Information Technology Services', 'Chemicals',
       'Wholesalers: Diversified', 'Aerospace and Defense',
       'Diversified Financials', 'Banks: Commercial and Savings',
       'Computer Software', 'Mining, Crude-Oil Production',
       'Mining, Crude-Oil Production', 'Food Consumer Products',
       'Engineering, Construction', 'Mining, Crude-Oil Production',
       'Aerospace and Defense', 'Electronics, Electrical Equip.',
       'Utilities', 'Aerospace and Defense', 'Petroleum Refining',
       'Energy', 'Semiconductors and Other Electronic Components',
       'Wholesalers: Electronics and Office Equipment', 'Metals',
       'Computers, Office Equipment', 'Diversified Financials',
       'Semiconductors and Other Electronic Components',
       'Wholesalers: Health Care', 'Internet Services and Retailing',
       'Energy', 'Insurance: Property and Casualty (Stock)', 'Utilities',
       'Motor Vehicles and Parts', 'Real estate', 'Beverages',
       'Pipelines', 'Pharmaceuticals', 'Pharmaceuticals',
       'Banks: Commercial and Savings', 'Telecommunications',
       'Semiconductors and Other Electronic Components',
       'Wholesalers: Food and Grocery', 'Mining, Crude-Oil Production',
       'Temporary Help', 'Internet Services and Retailing',
       'Electronics, Electrical Equip.', 'Airlines',
       'Banks: Commercial and Savings', 'Specialty Retailers',
       'Insurance: Life, Health (stock)', 'Food Services',
       'Specialty Retailers', 'Petroleum Refining', 'Energy', 'Trading',
       'General Merchandisers', 'Engineering, Construction', 'Utilities',
       'Specialty Retailers', 'Telecommunications', 'Trading', 'Trading',
       'Pharmaceuticals', 'Insurance: Life, Health (stock)',
       'Food and Drug Stores', 'Travel Services', 'Specialty Retailers'],
      dtype=object)

In [27]:
type(industries.values)

numpy.ndarray


<p><img alt="dataframe exploded" src="images/df_exploded_resized.svg"></p>

In [28]:
f500.loc[:, ["country", "rank"]]

                                country  rank
Walmart                             USA     1
State Grid                        China     2
Sinopec Group                     China     3
China National Petroleum          China     4
Toyota Motor                      Japan     5
...                                 ...   ...
Teva Pharmaceutical Industries   Israel   496
New China Life Insurance          China   497
Wm. Morrison Supermarkets       Britain   498
TUI                             Germany   499
AutoNation                          USA   500

[500 rows x 2 columns]

In [29]:
f500[["country", "rank"]]

                                country  rank
Walmart                             USA     1
State Grid                        China     2
Sinopec Group                     China     3
China National Petroleum          China     4
Toyota Motor                      Japan     5
...                                 ...   ...
Teva Pharmaceutical Industries   Israel   496
New China Life Insurance          China   497
Wm. Morrison Supermarkets       Britain   498
TUI                             Germany   499
AutoNation                          USA   500

[500 rows x 2 columns]

In [30]:
f500.loc[:, 'rank':'profits'] #zadnje polje je vključeno za razliko od ostalih arrayev pythonu

                                rank  revenues  revenue_change  profits
Walmart                            1    485873             0.8  13643.0
State Grid                         2    315199            -4.4   9571.3
Sinopec Group                      3    267518            -9.1   1257.9
China National Petroleum           4    262573           -12.3   1867.5
Toyota Motor                       5    254694             7.7  16899.3
...                              ...       ...             ...      ...
Teva Pharmaceutical Industries   496     21903            11.5    329.0
New China Life Insurance         497     21796           -13.3    743.9
Wm. Morrison Supermarkets        498     21741           -11.3    406.4
TUI                              499     21655            -5.5   1151.7
AutoNation                       500     21609             3.6    430.5

[500 rows x 4 columns]

In [31]:
print(f500.revenues)

Walmart                           485873
State Grid                        315199
Sinopec Group                     267518
China National Petroleum          262573
Toyota Motor                      254694
                                   ...
Teva Pharmaceutical Industries     21903
New China Life Insurance           21796
Wm. Morrison Supermarkets          21741
TUI                                21655
AutoNation                         21609
Name: revenues, Length: 500, dtype: int64

<p></p><center>
<table>
<thead>
<tr>
<th>Select by Label</th>
<th>Explicit Syntax</th>
<th>Common Shorthand</th>
<th>Other Shorthand</th>
</tr>
</thead>
<tbody>
<tr>
<td>Single column</td>
<td><code>df.loc[:,"col1"]</code></td>
<td><code>df["col1"]</code></td>
<td><code>df.col1</code></td>
</tr>
<tr>
<td>List of columns</td>
<td><code>df.loc[:,["col1", "col7"]]</code></td>
<td><code>df[["col1", "col7"]]</code></td>
<td></td>
</tr>
<tr>
<td>Slice of columns</td>
<td><code>df.loc[:,"col1":"col4"]</code></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</center><p></p>

<div class="alert alert-block alert-info">
<b>Vaja:</b> Select the country column. Assign the result to the variable name countries.</div>

In [32]:
countries = f500["country"]

<div class="alert alert-block alert-info">
<b>Vaja:</b> In order, select the revenues and years_on_global_500_list columns. Assign the result to the variable name revenues_years.</div>

In [33]:
revenues_years = f500[["revenues", "years_on_global_500_list"]]

<div class="alert alert-block alert-info">
<b>Vaja:</b> In order, select all columns from ceo up to and including sector. Assign the result to the variable name ceo_to_sector.</div>

In [34]:
revenues_years = f500.loc[:, "ceo":"sector"]

In [35]:
revenues_years

,ceo,industry,sector
Walmart,C. Douglas McMillon,General Merchandisers,Retailing
State Grid,Kou Wei,Utilities,Energy
Sinopec Group,Wang Yupu,Petroleum Refining,Energy
China National Petroleum,Zhang Jianhua,Petroleum Refining,Energy
Toyota Motor,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts
...,...,...,...
Teva Pharmaceutical Industries,Yitzhak Peterburg,Pharmaceuticals,Health Care
New China Life Insurance,Wan Feng,"Insurance: Life, Health (stock)",Financials
Wm. Morrison Supermarkets,David T. Potts,Food and Drug Stores,Food & Drug Stores
TUI,Friedrich Joussen,Travel Services,Business Services
AutoNation,Michael J. Jackson,Specialty Retailers,Retailing

### Selecting Rows From a DataFrame by Label (.loc)

    df.loc[row_label, column_label]

**Select a single row**

In [36]:
single_row = f500.loc["Sinopec Group"]
single_row

rank                                             3
revenues                                    267518
revenue_change                                -9.1
profits                                     1257.9
assets                                      310726
profit_change                                  -65
ceo                                      Wang Yupu
industry                        Petroleum Refining
sector                                      Energy
previous_rank                                    4
country                                      China
hq_location                         Beijing, China
website                     http://www.sinopec.com
years_on_global_500_list                        19
employees                                   713288
total_stockholder_equity                    106523
Name: Sinopec Group, dtype: object

In [37]:
print(type(single_row))

<class 'pandas.core.series.Series'>

**Select a list of rows**

In [38]:
list_rows = f500.loc[["Toyota Motor", "Walmart"]]
list_rows

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798

In [39]:
print(type(list_rows))

<class 'pandas.core.frame.DataFrame'>

**Select a slice object with labels**

In [40]:
slice_rows = f500["State Grid" : "Toyota Motor"]
slice_rows

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [41]:
slice_rows = f500.loc["State Grid" : "Toyota Motor"] #druga opcija
slice_rows

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

<img alt="series vs dataframe: series" src="images/df_series_s_updated.svg">

<img alt="series vs dataframe: dataframe" src="images/df_series_df_updated.svg">

### Selecting Items from a Series by Label (.loc)

In [42]:
sectors = f500["sector"]
sectors

Walmart                                        Retailing
State Grid                                        Energy
Sinopec Group                                     Energy
China National Petroleum                          Energy
Toyota Motor                      Motor Vehicles & Parts
                                           ...
Teva Pharmaceutical Industries               Health Care
New China Life Insurance                      Financials
Wm. Morrison Supermarkets             Food & Drug Stores
TUI                                    Business Services
AutoNation                                     Retailing
Name: sector, Length: 500, dtype: object

In [43]:
print(type(sectors))

<class 'pandas.core.series.Series'>

In [44]:
sectors.value_counts() #koliko različnih vrednosti je v stolpcu

Financials                       118
Energy                            80
Technology                        44
Motor Vehicles & Parts            34
Wholesalers                       28
Health Care                       27
Food & Drug Stores                20
Transportation                    19
Telecommunications                18
Retailing                         17
Food, Beverages & Tobacco         16
Materials                         16
Industrials                       15
Aerospace & Defense               14
Engineering & Construction        13
Chemicals                          7
Business Services                  3
Media                              3
Hotels, Restaurants & Leisure      3
Household Products                 3
Apparel                            2
Name: sector, dtype: int64

In [45]:
sectors = f500[["sector", "industries"]] #values count se ne da uporabljati nad DF
sectors.value_counts()

KeyError: "['industries'] not in index"

In [ ]:
countries = f500["country"] #koliko najmočnejših podjetij je v kateri državi
countries.value_counts()


<table>
<thead>
<tr>
<th>Select by Label</th>
<th>Explicit Syntax</th>
<th>Shorthand Convention</th>
</tr>
</thead>
<tbody>
<tr>
<td>Single item from series</td>
<td><code>s.loc["item8"]</code></td>
<td><code>s["item8"]</code></td>
</tr>
<tr>
<td>List of items from series</td>
<td><code>s.loc[["item1","item7"]]</code></td>
<td><code>s[["item1","item7"]]</code></td>
</tr>
<tr>
<td>Slice of items from series</td>
<td><code>s.loc["item2":"item4"]</code></td>
<td><code>s["item2":"item4"]</code></td>
</tr>
</tbody>
</table>

In [ ]:
countries_counts = f500["country"]
countries_counts = countries.value_counts()
countries_counts['India']

### Summary of label selection (.loc)

<table>
<thead>
<tr>
<th>Select by Label</th>
<th>Explicit Syntax</th>
<th>Shorthand Convention</th>
</tr>
</thead>
<tbody>
<tr>
<td>Single column from dataframe</td>
<td><code>df.loc[:,"col1"]</code></td>
<td><code>df["col1"]</code></td>
</tr>
<tr>
<td>List of columns from dataframe</td>
<td><code>df.loc[:,["col1","col7"]]</code></td>
<td><code>df[["col1","col7"]]</code></td>
</tr>
<tr>
<td>Slice of columns from dataframe</td>
<td><code>df.loc[:,"col1":"col4"]</code></td>
<td></td>
</tr>
<tr>
<td>Single row from dataframe</td>
<td><code>df.loc["row4"]</code></td>
<td></td>
</tr>
<tr>
<td>List of rows from dataframe</td>
<td><code>df.loc[["row1", "row8"]]</code></td>
<td></td>
</tr>
<tr>
<td>Slice of rows from dataframe</td>
<td><code>df.loc["row3":"row5"]</code></td>
<td><code>df["row3":"row5"]</code></td>
</tr>
<tr>
<td>Single item from series</td>
<td><code>s.loc["item8"]</code></td>
<td><code>s["item8"]</code></td>
</tr>
<tr>
<td>List of items from series</td>
<td><code>s.loc[["item1","item7"]]</code></td>
<td><code>s[["item1","item7"]]</code></td>
</tr>
<tr>
<td>Slice of items from series</td>
<td><code>s.loc["item2":"item4"]</code></td>
<td><code>s["item2":"item4"]</code></td>
</tr>
</tbody>
</table>

<div class="alert alert-block alert-info">
<b>Vaja:</b> Create a new variable big_movers, with: Rows with indices Aviva, HP, JD.com, and BHP Billiton, in that order. The rank and previous_rank columns, in that order.</div>

In [54]:
f500 = pd.read_csv('data/f500.csv', index_col = 0)
f500.index.name = None
big_movers = f500.loc[["Aviva", "HP", "JD.com", "BHP Billiton"], ["rank", "previous_rank"]]

In [55]:
big_movers

              rank  previous_rank
Aviva           90            279
HP             194             48
JD.com         261            366
BHP Billiton   350            168

​
 
<div class="alert alert-block alert-info">
<b>Vaja:</b> Create a new variable, bottom_companies with: All rows with indices from National Gridto AutoNation, inclusive. The rank, sector, and country columns.</div>

## Vectorized Operations


<p><img alt="Vectorized operation" src="images/vectorized.gif"></p>

In [56]:
my_series = pd.Series(list(range(1,6)))
my_series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [57]:
my_series + 10 # vektorsko seštevanje. Prišteje 10

0    11
1    12
2    13
3    14
4    15
dtype: int64


<ul>
<li><code>series_a + series_b</code> - Addition</li>
<li><code>series_a - series_b</code> - Subtraction</li>
<li><code>series_a * series_b</code> - Multiplication (this is unrelated to the multiplications used in linear algebra).</li>
<li><code>series_a / series_b</code> - Division</li>
</ul>

In [59]:
rank_change = f500['previous_rank'] - f500['rank']
type(rank_change)

pandas.core.series.Series

In [60]:
rank_change

Walmart                             0
State Grid                          0
Sinopec Group                       1
China National Petroleum           -1
Toyota Motor                        3
                                 ...
Teva Pharmaceutical Industries   -496
New China Life Insurance          -70
Wm. Morrison Supermarkets         -61
TUI                               -32
AutoNation                       -500
Length: 500, dtype: int64

In [61]:
max(rank_change)

226

##  Series Data Exploration Methods


<ul>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.max.html"><code>Series.max()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.min.html"><code>Series.min()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mean.html"><code>Series.mean()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.median.html"><code>Series.median()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mode.html"><code>Series.mode()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html"><code>Series.sum()</code></a></li>
</ul>

In [63]:
rank_change.max()

226

In [65]:
rank_change.min()

-500

<div class="alert alert-block alert-info">
<b>Vaja:</b> Use the Series.max() method to fMind the maximum value for the rank_change series. Assign the result to the variable rank_change_max.</div>

<div class="alert alert-block alert-info">
<b>Vaja:</b> Use the Series.min() method to find the minimum value for the rank_change series. Assign the result to the variable rank_change_min.</div>

### Series Describe Method

In [66]:
assets = f500['assets']
assets.describe()

count    5.000000e+02
mean     2.436323e+05
std      4.851937e+05
min      3.717000e+03
25%      3.658850e+04
50%      7.326150e+04
75%      1.805640e+05
max      3.473238e+06
Name: assets, dtype: float64

In [ ]:
assets = f500['assets']
assets.describe()

In [67]:
country = f500['country']
country.describe()

count     500
unique     34
top       USA
freq      132
Name: country, dtype: object

In [68]:
f500['rank'].describe()

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: rank, dtype: float64

In [69]:
f500['previous_rank'].describe()

count    500.000000
mean     222.134000
std      146.941961
min        0.000000
25%       92.750000
50%      219.500000
75%      347.250000
max      500.000000
Name: previous_rank, dtype: float64

<div class="alert alert-block alert-info">
<b>Vaja:</b> Return a series of descriptive statistics for the rank column in f500.</div>

<div class="alert alert-block alert-info">
<b>Vaja:</b> Return a series of descriptive statistics for the previous_rank column in f500.</div>

## Method Chaining

In [71]:
countries = f500['country']
countries_counts = countries.value_counts()
countries_counts.head()

USA        132
China      109
Japan       51
France      29
Germany     29
Name: country, dtype: int64

In [73]:
countries_counts_top_5 = f500['country'].value_counts().head()
countries_counts_top_5

USA        132
China      109
Japan       51
France      29
Germany     29
Name: country, dtype: int64

In [75]:
f500['country'].value_counts().loc['China']

109

<div class="alert alert-block alert-info">
<b>Vaja:</b> Use Series.value_counts() and Series.loc to return the number of companies with a value of 0 in the previous_rank column in the f500 dataframe. Assign the results to zero_previous_rank.</div>

In [78]:
f500['previous_rank'].value_counts().loc[0]

33

## Dataframe Exploration Methods


<ul>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.max.html"><code>Series.max()</code></a> and <a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.max.html"><code>DataFrame.max()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.min.html"><code>Series.min()</code></a> and <a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.min.html"><code>DataFrame.min()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mean.html"><code>Series.mean()</code></a> and <a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mean.html"><code>DataFrame.mean()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.median.html"><code>Series.median()</code></a> and <a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.median.html"><code>DataFrame.median()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mode.html"><code>Series.mode()</code></a> and <a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mode.html"><code>DataFrame.mode()</code></a></li>
<li><a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html"><code>Series.sum()</code></a> and <a target="_blank" href="http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html"><code>DataFrame.sum()</code></a></li>
</ul>

<p><img alt="dataframe axis parameters" src="images/axis_param.svg"></p>

In [46]:
medians = f500[["revenues", "profits"]].median(axis=0)
# we could also use .median(axis="index")
print(medians)

revenues    40236.0
profits      1761.6
dtype: float64

In [82]:
medians = f500[["revenues", "profits"]].median(axis="index")
print(medians)

revenues    40236.0
profits      1761.6
dtype: float64

<div class="alert alert-block alert-info">
<b>Vaja:</b> Use the DataFrame.max() method to find the maximum value for only the numeric columns from f500 (you may need to check the documentation). Assign the result to the variable max_f500.</div>

In [83]:
f500.max() #izpiše tudi max vrednosti tekstovnih fieldov

rank                                             500
revenues                                      485873
revenue_change                                 442.3
profits                                        45687
assets                                       3473238
profit_change                                 8909.5
ceo                                       Zhou Qiang
industry                    Wholesalers: Health Care
sector                                   Wholesalers
previous_rank                                    500
country                                    Venezuela
hq_location                      Zurich, Switzerland
website                        http://www.zurich.com
years_on_global_500_list                          23
employees                                    2300000
total_stockholder_equity                      301893
dtype: object

In [85]:
f500.max(numeric_only = True) #izpiše samo numerične vrednosti

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

### Dataframe Describe Method

In [86]:
f500.describe()

,rank,revenues,revenue_change,profits,assets,profit_change,previous_rank,years_on_global_500_list,employees,total_stockholder_equity
count,500.000000,500.000000,498.000000,499.000000,5.000000e+02,436.000000,500.000000,500.000000,5.000000e+02,500.000000
mean,250.500000,55416.358000,4.538353,3055.203206,2.436323e+05,24.152752,222.134000,15.036000,1.339983e+05,30628.076000
std,144.481833,45725.478963,28.549067,5171.981071,4.851937e+05,437.509566,146.941961,7.932752,1.700878e+05,43642.576833
min,1.000000,21609.000000,-67.300000,-13038.000000,3.717000e+03,-793.700000,0.000000,1.000000,3.280000e+02,-59909.000000
25%,125.750000,29003.000000,-5.900000,556.950000,3.658850e+04,-22.775000,92.750000,7.000000,4.293250e+04,7553.750000
50%,250.500000,40236.000000,0.550000,1761.600000,7.326150e+04,-0.350000,219.500000,17.000000,9.291050e+04,15809.500000
75%,375.250000,63926.750000,6.975000,3954.000000,1.805640e+05,17.700000,347.250000,23.000000,1.689172e+05,37828.500000
max,500.000000,485873.000000,442.300000,45687.000000,3.473238e+06,8909.500000,500.000000,23.000000,2.300000e+06,301893.000000

In [88]:
f500.describe(include=['O']) #samo stringi

,ceo,industry,sector,country,hq_location,website
count,500,500,500,500,500,500
unique,500,58,21,34,235,500
top,Flavio Cattaneo,Banks: Commercial and Savings,Financials,USA,"Beijing, China",http://www.coop.ch
freq,1,51,118,132,56,1

<div class="alert alert-block alert-info">
<b>Vaja:</b> Return a dataframe of descriptive statistics for all of the numeric columns in f500. Assign the result to f500_desc.</div>

## Assignment with pandas

In [90]:
top5_rank_revenue = f500[['rank', 'revenues']].head()
top5_rank_revenue

                          rank  revenues
Walmart                      1    485873
State Grid                   2    315199
Sinopec Group                3    267518
China National Petroleum     4    262573
Toyota Motor                 5    254694

In [91]:
top5_rank_revenue['revenues'] = 0
top5_rank_revenue

                          rank  revenues
Walmart                      1         0
State Grid                   2         0
Sinopec Group                3         0
China National Petroleum     4         0
Toyota Motor                 5         0

In [92]:
top5_rank_revenue.loc['Sinopec Group', 'revenues'] = 999 #prirejanje vrednosti
top5_rank_revenue

                          rank  revenues
Walmart                      1         0
State Grid                   2         0
Sinopec Group                3       999
China National Petroleum     4         0
Toyota Motor                 5         0

<div class="alert alert-block alert-info">
<b>Vaja:</b> The company "Dow Chemical" has named a new CEO. Update the value where the row label is Dow Chemical and for the ceo column to Jim Fitterling in the f500 dataframe.</div>

In [94]:
novceo = f500[['ceo']].head()
novceo

                                          ceo
Walmart                   C. Douglas McMillon
State Grid                            Kou Wei
Sinopec Group                       Wang Yupu
China National Petroleum        Zhang Jianhua
Toyota Motor                      Akio Toyoda

In [95]:
f500.loc['Dow Chemical', 'ceo'] = "Jim Fitterling" #nova vrednost

## Using Boolean Indexing with pandas Objects

In [47]:
d = {'name': ['Bob', 'Eva', 'Sara', 'Mihael'], 'num': [12, 8, 5, 8]}
df = pd.DataFrame(data=d, index=['w', 'x', 'y', 'z']) #ustvarimo dataframe

In [96]:
df

     name  num
w     Bob   12
x     Eva    8
y    Sara    5
z  Mihael    8

In [97]:
num_bool = df['num'] == 8 #poišemo vrednosti num = 8
num_bool

w    False
x     True
y    False
z     True
Name: num, dtype: bool

In [98]:
df[num_bool] #izpis samo tistih, ki imajo num = 8

     name  num
x     Eva    8
z  Mihael    8

In [99]:
df[df['num'] == 8] #takista finta

     name  num
x     Eva    8
z  Mihael    8

In [100]:
df.loc[df['num'] == 8, 'name'] #izbere vrstice in stolpce

x       Eva
z    Mihael
Name: name, dtype: object

<div class="alert alert-block alert-info">
<b>Vaja:</b> Create a boolean series, motor_bool, that compares whether the values in the industry column from the f500 dataframe are equal to "Motor Vehicles and Parts".
Use the motor_bool boolean series to index the country column. Assign the result to motor_countries.</div>

In [101]:
f500.loc[f500['industry'] == 'Motor Vehicles and Parts', 'country'] #filtriranje izpisa ZELO UPORABNO

Toyota Motor                                 Japan
Volkswagen                                 Germany
Daimler                                    Germany
General Motors                                 USA
Ford Motor                                     USA
Honda Motor                                  Japan
SAIC Motor                                   China
Nissan Motor                                 Japan
BMW Group                                  Germany
Dongfeng Motor                               China
Robert Bosch                               Germany
Hyundai Motor                          South Korea
China FAW Group                              China
Beijing Automotive Group                     China
Peugeot                                     France
Renault                                     France
Kia Motors                             South Korea
Continental                                Germany
Denso                                        Japan
Guangzhou Automobile Industry Group          China
Tata Motors                                  India
ZF Friedrichshafen                         Germany
Jardine Matheson                             China
Magna International                         Canada
Volvo                                       Sweden
Hyundai Mobis                          South Korea
Aisin Seiki                                  Japan
Zhejiang Geely Holding Group                 China
Subaru                                       Japan
Bridgestone                                  Japan
Mazda Motor                                  Japan
Suzuki Motor                                 Japan
Sumitomo Electric Industries                 Japan
Michelin                                    France
Name: country, dtype: object

### Using Boolean Arrays to Assign Values

In [104]:
f500.loc[f500['sector'] == "Motor Vehicles & Parts", 'sector'] = "Motor Vehicles and Parts" #zamenjava & z and

In [105]:
f500.loc[f500['sector'] == "Motor Vehicles & Parts", 'sector']

Series([], Name: sector, dtype: object)

In [106]:
f500.loc[f500['sector'] == "Motor Vehicles and Parts", 'sector']

Toyota Motor                           Motor Vehicles and Parts
Volkswagen                             Motor Vehicles and Parts
Daimler                                Motor Vehicles and Parts
General Motors                         Motor Vehicles and Parts
Ford Motor                             Motor Vehicles and Parts
Honda Motor                            Motor Vehicles and Parts
SAIC Motor                             Motor Vehicles and Parts
Nissan Motor                           Motor Vehicles and Parts
BMW Group                              Motor Vehicles and Parts
Dongfeng Motor                         Motor Vehicles and Parts
Robert Bosch                           Motor Vehicles and Parts
Hyundai Motor                          Motor Vehicles and Parts
China FAW Group                        Motor Vehicles and Parts
Beijing Automotive Group               Motor Vehicles and Parts
Peugeot                                Motor Vehicles and Parts
Renault                                Motor Vehicles and Parts
Kia Motors                             Motor Vehicles and Parts
Continental                            Motor Vehicles and Parts
Denso                                  Motor Vehicles and Parts
Guangzhou Automobile Industry Group    Motor Vehicles and Parts
Tata Motors                            Motor Vehicles and Parts
ZF Friedrichshafen                     Motor Vehicles and Parts
Jardine Matheson                       Motor Vehicles and Parts
Magna International                    Motor Vehicles and Parts
Volvo                                  Motor Vehicles and Parts
Hyundai Mobis                          Motor Vehicles and Parts
Aisin Seiki                            Motor Vehicles and Parts
Zhejiang Geely Holding Group           Motor Vehicles and Parts
Subaru                                 Motor Vehicles and Parts
Bridgestone                            Motor Vehicles and Parts
Mazda Motor                            Motor Vehicles and Parts
Suzuki Motor                           Motor Vehicles and Parts
Sumitomo Electric Industries           Motor Vehicles and Parts
Michelin                               Motor Vehicles and Parts
Name: sector, dtype: object

In [107]:
prev_ran_befor = f500['previous_rank'].value_counts(dropna=False).head()
prev_ran_befor

0      33
159     1
147     1
148     1
149     1
Name: previous_rank, dtype: int64

In [108]:
import numpy as np
f500.loc[f500['previous_rank'] == 0, 'previous_rank'] = np.nan #določi nekakšen nodata

In [109]:
prev_ran_befor = f500['previous_rank'].value_counts(dropna=False).head()
prev_ran_befor

NaN      33
471.0     1
234.0     1
125.0     1
166.0     1
Name: previous_rank, dtype: int64

## Creating New Columns

In [110]:
top5_rank_revenue

                          rank  revenues
Walmart                      1         0
State Grid                   2         0
Sinopec Group                3       999
China National Petroleum     4         0
Toyota Motor                 5         0

In [111]:
top5_rank_revenue['year_founded'] = 0 #če index še ne obstaja, doda nov stolpec v dataframe

In [112]:
top5_rank_revenue

                          rank  revenues  year_founded
Walmart                      1         0             0
State Grid                   2         0             0
Sinopec Group                3       999             0
China National Petroleum     4         0             0
Toyota Motor                 5         0             0

In [113]:
f500['rank_change'] = f500['previous_rank'] - f500['rank']

In [114]:
f500['rank_change'].describe() #tam, kjer je vrednost NaN stvari ne šteje.

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64

In [115]:
f500.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1.0,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798,0.0
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles and Parts,8.0,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210,3.0

## Vaja: Top Performers by Country

In [116]:
#Države, ki imajo največ top 500 podjetij
f500['country'].value_counts().head()

USA        132
China      109
Japan       51
France      29
Germany     29
Name: country, dtype: int64

In [118]:
f500.loc[f500['country']== 'USA', 'industry'].value_counts().head(2)

Banks: Commercial and Savings               8
Insurance: Property and Casualty (Stock)    7
Name: industry, dtype: int64

In [119]:
f500.loc[f500['country']== 'China', 'sector'].value_counts().head(3)

Financials     25
Energy         22
Wholesalers     9
Name: sector, dtype: int64

## Reading CSV files with pandas

    f500 = pd.read_csv("data/f500.csv", index_col=0)
    f500.index.name = None

    company,rank,revenues,revenue_change
    Walmart,1,485873,0.8
    State Grid,2,315199,-4.4
    Sinopec Group,3,267518,-9.1
    China National Petroleum,4,262573,-12.3
    Toyota Motor,5,254694,7.7


<p><img alt="csv_to_dataframe" src="images/csv_to_dataframe.svg"></p>

In [120]:
f500 = pd.read_csv("data/f500.csv", index_col=0)
f500.head()

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
company,,,,,,,,,,,,,,,,
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [122]:
f500.index #index je v tem primeru tipa object in ima ime company

Index(['Walmart', 'State Grid', 'Sinopec Group', 'China National Petroleum',
       'Toyota Motor', 'Volkswagen', 'Royal Dutch Shell', 'Berkshire Hathaway',
       'Apple', 'Exxon Mobil',
       ...
       'National Grid', 'Dollar General', 'Telecom Italia',
       'Xiamen ITG Holding Group', 'Xinjiang Guanghui Industry Investment',
       'Teva Pharmaceutical Industries', 'New China Life Insurance',
       'Wm. Morrison Supermarkets', 'TUI', 'AutoNation'],
      dtype='object', name='company', length=500)

In [123]:
f500.columns

Index(['rank', 'revenues', 'revenue_change', 'profits', 'assets',
       'profit_change', 'ceo', 'industry', 'sector', 'previous_rank',
       'country', 'hq_location', 'website', 'years_on_global_500_list',
       'employees', 'total_stockholder_equity'],
      dtype='object')

In [124]:
f500.index.name = None #index ni več poimenovan company
f500.index

Index(['Walmart', 'State Grid', 'Sinopec Group', 'China National Petroleum',
       'Toyota Motor', 'Volkswagen', 'Royal Dutch Shell', 'Berkshire Hathaway',
       'Apple', 'Exxon Mobil',
       ...
       'National Grid', 'Dollar General', 'Telecom Italia',
       'Xiamen ITG Holding Group', 'Xinjiang Guanghui Industry Investment',
       'Teva Pharmaceutical Industries', 'New China Life Insurance',
       'Wm. Morrison Supermarkets', 'TUI', 'AutoNation'],
      dtype='object', length=500)

In [125]:
f500.head(2)

,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456

In [126]:
f500 = pd.read_csv("data/f500.csv") #ni indexa... samodejno oštevilči oz. naredi index
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210

In [127]:
f500.index

RangeIndex(start=0, stop=500, step=1)

## Using iloc to select by integer position

In [128]:
f500[['company', 'rank', 'revenues']].head()

                    company  rank  revenues
0                   Walmart     1    485873
1                State Grid     2    315199
2             Sinopec Group     3    267518
3  China National Petroleum     4    262573
4              Toyota Motor     5    254694


<p><img alt="selection using label" src="images/selection_loc.svg"></p>

<p><img alt="selection using iloc" src="images/selection_iloc.svg"></p>

    df.iloc[row_index, column_index]

<div class="alert alert-block alert-info">
<b>Vaja:</b> Select just the fifth row of the f500 dataframe. Assign the result to fifth_row.</div>

In [129]:
f500 = pd.read_csv("data/f500.csv")

In [130]:
f500.iloc[4]

company                                     Toyota Motor
rank                                                   5
revenues                                          254694
revenue_change                                       7.7
profits                                          16899.3
assets                                            437575
profit_change                                      -12.3
ceo                                          Akio Toyoda
industry                        Motor Vehicles and Parts
sector                            Motor Vehicles & Parts
previous_rank                                          8
country                                            Japan
hq_location                                Toyota, Japan
website                     http://www.toyota-global.com
years_on_global_500_list                              23
employees                                         364445
total_stockholder_equity                          157210
Name: 4, dtype: object

## <div class="alert alert-block alert-info">
<b>Vaja:</b> Select the value in first row of the company column. Assign the result to company_value.</div>

In [131]:
f500.iloc[0, 0]

'Walmart'

In [132]:
company = f500.iloc[:,0]
company

0                             Walmart
1                          State Grid
2                       Sinopec Group
3            China National Petroleum
4                        Toyota Motor
                    ...
495    Teva Pharmaceutical Industries
496          New China Life Insurance
497         Wm. Morrison Supermarkets
498                               TUI
499                        AutoNation
Name: company, Length: 500, dtype: object

In [133]:
f500[1:5]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Akio Toyoda,Motor Vehicles and Parts,Motor Vehicles & Parts,8,Japan,"Toyota, Japan",http://www.toyota-global.com,23,364445,157210


<table>
<thead>
<tr>
<th>Select by integer position</th>
<th>Explicit Syntax</th>
<th>Shorthand Convention</th>
</tr>
</thead>
<tbody>
<tr>
<td>Single column from dataframe</td>
<td><code>df.iloc[:,3]</code></td>
<td></td>
</tr>
<tr>
<td>List of columns from dataframe</td>
<td><code>df.iloc[:,[3,5,6]]</code></td>
<td></td>
</tr>
<tr>
<td>Slice of columns from dataframe</td>
<td><code>df.iloc[:,3:7]</code></td>
<td></td>
</tr>
<tr>
<td>Single row from dataframe</td>
<td><code>df.iloc[20]</code></td>
<td></td>
</tr>
<tr>
<td>List of rows from dataframe</td>
<td><code>df.iloc[[0,3,8]]</code></td>
<td></td>
</tr>
<tr>
<td>Slice of rows from dataframe</td>
<td><code>df.iloc[3:5]</code></td>
<td><code>df[3:5]</code></td>
</tr>
<tr>
<td>Single items from series</td>
<td><code>s.iloc[8]</code></td>
<td><code>s[8]</code></td>
</tr>
<tr>
<td>List of item from series</td>
<td><code>s.iloc[[2,8,1]]</code></td>
<td><code>s[[2,8,1]]</code></td>
</tr>
<tr>
<td>Slice of items from series</td>
<td><code>s.iloc[5:10]</code></td>
<td><code>s[5:10]</code></td>
</tr>
</tbody>
</table>

<div class="alert alert-block alert-info">
<b>Vaja:</b> Select the first three rows of the f500 dataframe. Assign the result to first_three_rows.</div>

In [134]:
f500[:3]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,C. Douglas McMillon,General Merchandisers,Retailing,1,USA,"Bentonville, AR",http://www.walmart.com,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4,China,"Beijing, China",http://www.sinopec.com,19,713288,106523

<div class="alert alert-block alert-info">
<b>Vaja:</b> Select the first and seventh rows and the first five columns of the f500 dataframe. Assign the result to first_seventh_row_slice.</div>

In [135]:
f500.iloc[[0, 6], :5]

             company  rank  revenues  revenue_change  profits
0            Walmart     1    485873             0.8  13643.0
6  Royal Dutch Shell     7    240033           -11.8   4575.0

## Using pandas methods to create boolean masks

In [ ]:
# Series.isnull() metoda in
# Series.notnull() metoda

In [136]:
f500['revenue_change'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: revenue_change, dtype: bool

In [137]:
f500.loc[f500['revenue_change'].isnull(), ["company", "country", "sector", "revenue_change"]]

                        company  country      sector  revenue_change
90                       Uniper  Germany      Energy             NaN
180  Hewlett Packard Enterprise      USA  Technology             NaN

<div class="alert alert-block alert-info">
<b>Vaja:</b> Use the Series.isnull() method to select all rows from f500 that have a null value for the previous_rank column. Select only the company, rank, and previous_rank columns. Assign the result to null_previous_rank.</div>

In [138]:
f500 = pd.read_csv("data/f500.csv")
f500.loc[f500["previous_rank"]==0, "previous_rank"] = np.nan

In [143]:
null_previous_rank = f500.loc[f500["previous_rank"].isnull(), ["company", "rank", "previous_rank"]]
null_previous_rank.head()

                    company  rank  previous_rank
48    Legal & General Group    49            NaN
90                   Uniper    91            NaN
123       Dell Technologies   124            NaN
138  Anbang Insurance Group   139            NaN
140         Albertsons Cos.   141            NaN

In [145]:
null_previous_rank.iloc[0] #loc[0] v tem primeru ne deluje

company          Legal & General Group
rank                                49
previous_rank                      NaN
Name: 48, dtype: object

In [146]:
null_previous_rank.loc[48] #ekvivalent zgornjega

company          Legal & General Group
rank                                49
previous_rank                      NaN
Name: 48, dtype: object

## Working with Integer Labels


<p><img alt="loc vs iloc for rows in different order" src="images/integer_labels_2.svg"></p>

<div class="alert alert-block alert-info">
<b>Vaja:</b> Assign the first five rows of the null_previous_rank dataframe to the variable top5_null_prev_rank by choosing the correct method out of either loc[] or iloc[].</div>

In [147]:
null_previous_rank.iloc[:5]

                    company  rank  previous_rank
48    Legal & General Group    49            NaN
90                   Uniper    91            NaN
123       Dell Technologies   124            NaN
138  Anbang Insurance Group   139            NaN
140         Albertsons Cos.   141            NaN

## Pandas Index Alignment

In [150]:
previously_ranked = f500[f500["previous_rank"].notnull()]
previously_ranked.shape

(467, 17)

In [153]:
rank_change = previously_ranked["previous_rank"] - previously_ranked['rank']

In [154]:
rank_change.shape

(467,)

In [155]:
rank_change.tail()

490   -20.0
492   -89.0
496   -70.0
497   -61.0
498   -32.0
dtype: float64

In [48]:
food = pd.DataFrame({'fruit_veg': ['fruit', 'veg', 'fruit', 'veg', 'veg'], 'qty': [4, 2, 4, 1, 2]}, 
                    index=['tomato', 'carrot', 'lime', 'corn', 'eggplant'])

In [156]:
food

         fruit_veg  qty
tomato       fruit    4
carrot         veg    2
lime         fruit    4
corn           veg    1
eggplant       veg    2

In [157]:
alt_name = pd.Series(['rocket', 'aubergine', 'maize'], index=['arugula', 'eggplant', 'corn'])

In [158]:
alt_name

arugula        rocket
eggplant    aubergine
corn            maize
dtype: object

In [159]:
food['alt_name'] = alt_name

In [160]:
food

         fruit_veg  qty   alt_name
tomato       fruit    4        NaN
carrot         veg    2        NaN
lime         fruit    4        NaN
corn           veg    1      maize
eggplant       veg    2  aubergine

<div class="alert alert-block alert-info">
<b>Vaja:</b> Use the Series.notnull() method to select all rows from f500 that have a non-null value for the previous_rank column. Assign the result to previously_ranked.  From the previously_ranked dataframe, subtract the rank column from the previous_rank column. Assign the result to rank_change. Assign the values in the rank_change to a new column in the f500 dataframe, "rank_change".</div>

In [164]:
f500['rank_change'] = rank_change
rank_change

0       0.0
1       0.0
2       1.0
3      -1.0
4       3.0
       ...
490   -20.0
492   -89.0
496   -70.0
497   -61.0
498   -32.0
Length: 467, dtype: float64

## Boolean Operators


<table>
<thead>
<tr>
<th>pandas</th>
<th>Python equivalent</th>
<th>Meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>a &amp; b</code></td>
<td><code>a and b</code></td>
<td><code>True</code> if both <code>a</code> and <code>b</code> are <code>True</code>, else <code>False</code></td>
</tr>
<tr>
<td><code>a | b</code></td>
<td><code>a or b</code></td>
<td><code>True</code> if either <code>a</code> or <code>b</code> is <code>True</code></td>
</tr>
<tr>
<td><code>~a</code></td>
<td><code>not a</code></td>
<td><code>True</code> if <code>a</code> is <code>False</code>, else <code>False</code></td>
</tr>
</tbody>
</table>

<p><img alt="boolean operators example 1" src="images/bool_ops_1.svg"></p>

<p><img alt="boolean operators example 2" src="images/bool_ops_2.svg"></p>

<p><img alt="boolean operators example 3" src="images/bool_ops_3.svg"></p>

<p><img alt="boolean operators example 4" src="images/bool_ops_4.svg"></p>

<div class="alert alert-block alert-info">
<b>Vaja:</b> Select all companies with revenues over 100 billion and negative profits from the f500 dataframe. The result should include all columns.</div>

In [166]:
f500[(f500['revenues']> 100000) & (f500['profits']<0)]

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
32,Japan Post Holdings,33,122990,3.6,-267.4,2631385,-107.5,Masatsugu Nagato,"Insurance: Life, Health (stock)",Financials,37.0,Japan,"Tokyo, Japan",http://www.japanpost.jp,21,248384,91532,4.0
44,Chevron,45,107567,-18.0,-497.0,260078,-110.8,John S. Watson,Petroleum Refining,Energy,31.0,USA,"San Ramon, CA",http://www.chevron.com,23,55200,145556,-14.0


<table>
<thead>
<tr>
<th>pandas</th>
<th>Python equivalent</th>
<th>Meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>a &amp; b</code></td>
<td><code>a and b</code></td>
<td><code>True</code> if both <code>a</code> and <code>b</code> are <code>True</code>, else <code>False</code></td>
</tr>
<tr>
<td><code>a | b</code></td>
<td><code>a or b</code></td>
<td><code>True</code> if either <code>a</code> or <code>b</code> is <code>True</code></td>
</tr>
<tr>
<td><code>~a</code></td>
<td><code>not a</code></td>
<td><code>True</code> if <code>a</code> is <code>False</code>, else <code>False</code></td>
</tr>
</tbody>
</table></div>

<div class="alert alert-block alert-info">
<b>Vaja:</b> Select all rows for companies headquartered in either Brazil or Venezuela. Assign the result to brazil_venezuela.</div>

In [168]:
brazil_venezuela = f500[(f500['country'] == "Brazil") | (f500['country'] == "Venezuela")]
brazil_venezuela

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
74,Petrobras,75,81405,-16.3,-4838.0,246983,NaN,Pedro Pullen Parente,Petroleum Refining,Energy,58.0,Brazil,"Rio de Janeiro, Brazil",http://www.petrobras.com.br,23,68829,76779,-17.0
112,Itau Unibanco Holding,113,66876,21.4,6666.4,415972,-13.7,Candido Botelho Bracher,Banks: Commercial and Savings,Financials,159.0,Brazil,"Sao Paulo, Brazil",http://www.itau.com.br,4,94779,37680,46.0
150,Banco do Brasil,151,58093,-13.4,2013.8,426416,-52.3,Paulo Rogerio Caffarelli,Banks: Commercial and Savings,Financials,115.0,Brazil,"Brasilia, Brazil",http://www.bb.com.br,23,100622,26551,-36.0
153,Banco Bradesco,154,57443,31.3,5127.9,366418,-5.7,Luiz Carlos Trabuco Cappi,Banks: Commercial and Savings,Financials,209.0,Brazil,"Osasco, Brazil",http://www.bradesco.com.br,21,94541,32369,55.0
190,JBS,191,48825,-0.1,107.7,31605,-92.3,Wesley Mendonca Batista,Food Production,"Food, Beverages & Tobacco",185.0,Brazil,"Sao Paulo, Brazil",http://jbss.infoinvest.com.br,8,237061,7307,-6.0
369,Vale,370,29363,14.7,3982.0,99014,NaN,Fabio Schvartsman,"Mining, Crude-Oil Production",Energy,417.0,Brazil,"Rio de Janeiro, Brazil",http://www.vale.com,11,73062,39042,47.0
441,Mercantil Servicios Financieros,442,24403,50.3,2004.2,148659,-10.5,Gustavo J. Vollmer A.,Banks: Commercial and Savings,Financials,NaN,Venezuela,"Caracas, Venezuela",http://www.msf.com,1,8370,7550,NaN
486,Ultrapar Holdings,487,22167,-2.3,447.5,7426,-0.8,Thilo Mannhardt,Energy,Energy,474.0,Brazil,"Sao Paulo, Brazil",http://www.ultra.com.br,8,15173,2621,-13.0

<div class="alert alert-block alert-info">
<b>Vaja:</b> Select the first five companies in the Technology sector that are not headquartered in the USA from the f500 dataframe. Assign the result to tech_outside_usa.</div>

In [169]:
tech_outside_usa = f500[(f500['sector'] == "Technology") & (f500['country'] != "USA")]
tech_outside_usa

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13.0,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376,-2.0
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476,-2.0
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632,8.0
82,Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129.0,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159,46.0
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415,8.0
109,Panasonic,110,67775,6.7,1378.4,53702,0.2,Kazuhiro Tsuga,"Electronics, Electrical Equip.",Technology,128.0,Japan,"Osaka, Japan",http://www.panasonic.com/global,23,257533,14109,18.0
182,Amer International Group,183,49677,3.9,1199.9,18405,5.2,Wang Wenyin,"Electronics, Electrical Equip.",Technology,190.0,China,"Shenzhen, China",http://www.amer.com.cn,5,17852,10005,7.0
200,LG Electronics,201,47712,-4.6,66.2,31348,-39.8,Seong-Jin Jo,"Electronics, Electrical Equip.",Technology,180.0,South Korea,"Seoul, South Korea",http://www.lg.com,17,75000,9926,-21.0
225,Lenovo Group,226,43035,-4.2,535.1,27186,NaN,Yang Yuanqing,"Computers, Office Equipment",Technology,202.0,China,"Hong Kong, China",http://www.lenovo.com,8,52000,3224,-24.0
236,Fujitsu,237,41620,5.4,816.7,28646,13.0,Tatsuya Tanaka,Information Technology Services,Technology,248.0,Japan,"Tokyo, Japan",http://www.fujitsu.com,23,155069,7910,11.0
260,JD.com,261,39155,35.7,-573.0,23077,NaN,Richard Qiangdong Liu,Internet Services and Retailing,Technology,366.0,China,"Beijing, China",http://www.jd.com,2,120622,4877,105.0
261,Mitsubishi Electric,262,39119,6.9,1942.6,37519,2.1,Masaki Sakuyama,"Electronics, Electrical Equip.",Technology,276.0,Japan,"Tokyo, Japan",http://www.mitsubishielectric.com,23,138700,18307,14.0
295,Pegatron,296,35891,-6.1,599.6,13776,-20.1,Syh-Jang Liao,"Computers, Office Equipment",Technology,259.0,Taiwan,"Taipei, Taiwan",http://www.pegatroncorp.com,5,196251,4601,-37.0
304,Accenture,305,34798,5.7,4111.9,20609,34.7,Pierre Nanterme,Information Technology Services,Technology,312.0,Ireland,"Dublin, Ireland",http://www.accenture.com,16,384000,7555,7.0
346,Canon,347,31271,-0.4,1385.0,44062,-23.9,Fujio Mitarai,"Computers, Office Equipment",Technology,332.0,Japan,"Tokyo, Japan",http://www.canon.com,23,197673,23865,-15.0
361,China Electronics,362,30010,-4.8,321.9,36575,82.6,Rui Xiaowu,"Electronics, Electrical Equip.",Technology,329.0,China,"Beijing, China",http://www.cec.com.cn,7,144659,4831,-33.0
368,Taiwan Semiconductor Manufacturing,369,29388,10.6,10283.7,58535,7.8,Mark Liu,Semiconductors and Other Electronic Components,Technology,403.0,Taiwan,"Hsinchu, Taiwan",http://www.tsmc.com,3,46968,42174,34.0
389,Quanta Computer,390,27715,-12.7,469.3,18229,-16.4,Barry Lam,"Computers, Office Equipment",Technology,326.0,Taiwan,"Taoyuan, Taiwan",http://www.quantatw.com,12,92698,4123,-64.0
398,Schneider Electric,399,27307,-7.6,1935.2,44137,24.0,Jean-Pascal Tricoire,"Electronics, Electrical Equip.",Technology,354.0,France,"Rueil-Malmaison, France",http://www.schneider-electric.com,16,143901,21614,-45.0
414,Nokia,415,26113,73.4,-847.1,47354,-131.0,Rajeev Suri,Network and Other Communications Equipment,Technology,NaN,Finland,"Espoo, Finland",http://www.nokia.com,19,102687,21192,NaN
418,LM Ericsson,419,26004,-11.2,200.5,31199,-87.5,Borje Ekholm,Network and Other Communications Equipment,Technology,357.0,Sweden,"Stockholm, Sweden",http://www.ericsson.com,23,111464,15395,-62.0
436,NEC,437,24596,4.5,252.0,24091,-60.1,Takashi Niino,Information Technology Services,Technology,452.0,Japan,"Tokyo, Japan",http://www.nec.com,23,107729,7668,15.0
442,SAP,443,24397,5.8,4031.9,46696,18.6,William R. McDermott,Computer Software,Technology,462.0,Germany,"Walldorf, Germany",http://www.sap.com,2,84183,27817,19.0
449,Midea Group,450,24060,8.5,2210.4,24549,9.3,Fang Hongbo,"Electronics, Electrical Equip.",Technology,481.0,China,"Foshan, China",http://www.midea.com,2,126418,8796,31.0
454,Flex,455,23863,-2.3,319.6,12593,-28.0,Michael M. McNamara,Semiconductors and Other Electronic Components,Technology,441.0,Singapore,Singapore,http://www.flex.com,17,200000,2645,-14.0
457,Compal Electronics,458,23773,-10.9,252.1,10769,-7.9,Jui-Tsung Chen,"Computers, Office Equipment",Technology,400.0,Taiwan,"Taipei, Taiwan",http://www.compal.com,6,64728,3283,-58.0
461,Alibaba Group Holding,462,23517,47.9,6489.5,73538,-42.2,Daniel Zhang,Internet Services and Retailing,Technology,NaN,China,"Hangzhou, China",http://www.alibabagroup.com,1,50097,40454,NaN
473,Onex,474,22943,3.8,-130.0,42913,NaN,Gerald W. Schwartz,Semiconductors and Other Electronic Components,Technology,483.0,Canada,"Toronto, Ontario, Canada",http://www.onex.com,18,161000,-490,9.0
477,Tencent Holdings,478,22871,39.7,6185.9,56968,35.0,Pony Ma,Internet Services and Retailing,Technology,NaN,China,"Shenzhen, China",http://www.tencent.com,1,38775,25128,NaN
478,LG Display,479,22840,-9.0,781.4,20606,-8.6,Sang-Beom Han,"Electronics, Electrical Equip.",Technology,429.0,South Korea,"Seoul, South Korea",http://www.lgdisplay.com,6,49094,10729,-50.0

In [171]:
tech_outside_usa = f500[(f500['sector'] == "Technology") &~ (f500['country'] == "USA")] #ekvivalent
tech_outside_usa

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
14,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,Oh-Hyun Kwon,"Electronics, Electrical Equip.",Technology,13.0,South Korea,"Suwon, South Korea",http://www.samsung.com,23,325000,154376,-2.0
26,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Terry Gou,"Electronics, Electrical Equip.",Technology,25.0,Taiwan,"New Taipei City, Taiwan",http://www.foxconn.com,13,726772,33476,-2.0
70,Hitachi,71,84558,1.2,2134.3,86742,48.8,Toshiaki Higashihara,"Electronics, Electrical Equip.",Technology,79.0,Japan,"Tokyo, Japan",http://www.hitachi.com,23,303887,26632,8.0
82,Huawei Investment & Holding,83,78511,24.9,5579.4,63837,-5.0,Ren Zhengfei,Network and Other Communications Equipment,Technology,129.0,China,"Shenzhen, China",http://www.huawei.com,8,180000,20159,46.0
104,Sony,105,70170,3.9,676.4,158519,-45.1,Kazuo Hirai,"Electronics, Electrical Equip.",Technology,113.0,Japan,"Tokyo, Japan",http://www.sony.net,23,128400,22415,8.0
109,Panasonic,110,67775,6.7,1378.4,53702,0.2,Kazuhiro Tsuga,"Electronics, Electrical Equip.",Technology,128.0,Japan,"Osaka, Japan",http://www.panasonic.com/global,23,257533,14109,18.0
182,Amer International Group,183,49677,3.9,1199.9,18405,5.2,Wang Wenyin,"Electronics, Electrical Equip.",Technology,190.0,China,"Shenzhen, China",http://www.amer.com.cn,5,17852,10005,7.0
200,LG Electronics,201,47712,-4.6,66.2,31348,-39.8,Seong-Jin Jo,"Electronics, Electrical Equip.",Technology,180.0,South Korea,"Seoul, South Korea",http://www.lg.com,17,75000,9926,-21.0
225,Lenovo Group,226,43035,-4.2,535.1,27186,NaN,Yang Yuanqing,"Computers, Office Equipment",Technology,202.0,China,"Hong Kong, China",http://www.lenovo.com,8,52000,3224,-24.0
236,Fujitsu,237,41620,5.4,816.7,28646,13.0,Tatsuya Tanaka,Information Technology Services,Technology,248.0,Japan,"Tokyo, Japan",http://www.fujitsu.com,23,155069,7910,11.0
260,JD.com,261,39155,35.7,-573.0,23077,NaN,Richard Qiangdong Liu,Internet Services and Retailing,Technology,366.0,China,"Beijing, China",http://www.jd.com,2,120622,4877,105.0
261,Mitsubishi Electric,262,39119,6.9,1942.6,37519,2.1,Masaki Sakuyama,"Electronics, Electrical Equip.",Technology,276.0,Japan,"Tokyo, Japan",http://www.mitsubishielectric.com,23,138700,18307,14.0
295,Pegatron,296,35891,-6.1,599.6,13776,-20.1,Syh-Jang Liao,"Computers, Office Equipment",Technology,259.0,Taiwan,"Taipei, Taiwan",http://www.pegatroncorp.com,5,196251,4601,-37.0
304,Accenture,305,34798,5.7,4111.9,20609,34.7,Pierre Nanterme,Information Technology Services,Technology,312.0,Ireland,"Dublin, Ireland",http://www.accenture.com,16,384000,7555,7.0
346,Canon,347,31271,-0.4,1385.0,44062,-23.9,Fujio Mitarai,"Computers, Office Equipment",Technology,332.0,Japan,"Tokyo, Japan",http://www.canon.com,23,197673,23865,-15.0
361,China Electronics,362,30010,-4.8,321.9,36575,82.6,Rui Xiaowu,"Electronics, Electrical Equip.",Technology,329.0,China,"Beijing, China",http://www.cec.com.cn,7,144659,4831,-33.0
368,Taiwan Semiconductor Manufacturing,369,29388,10.6,10283.7,58535,7.8,Mark Liu,Semiconductors and Other Electronic Components,Technology,403.0,Taiwan,"Hsinchu, Taiwan",http://www.tsmc.com,3,46968,42174,34.0
389,Quanta Computer,390,27715,-12.7,469.3,18229,-16.4,Barry Lam,"Computers, Office Equipment",Technology,326.0,Taiwan,"Taoyuan, Taiwan",http://www.quantatw.com,12,92698,4123,-64.0
398,Schneider Electric,399,27307,-7.6,1935.2,44137,24.0,Jean-Pascal Tricoire,"Electronics, Electrical Equip.",Technology,354.0,France,"Rueil-Malmaison, France",http://www.schneider-electric.com,16,143901,21614,-45.0
414,Nokia,415,26113,73.4,-847.1,47354,-131.0,Rajeev Suri,Network and Other Communications Equipment,Technology,NaN,Finland,"Espoo, Finland",http://www.nokia.com,19,102687,21192,NaN
418,LM Ericsson,419,26004,-11.2,200.5,31199,-87.5,Borje Ekholm,Network and Other Communications Equipment,Technology,357.0,Sweden,"Stockholm, Sweden",http://www.ericsson.com,23,111464,15395,-62.0
436,NEC,437,24596,4.5,252.0,24091,-60.1,Takashi Niino,Information Technology Services,Technology,452.0,Japan,"Tokyo, Japan",http://www.nec.com,23,107729,7668,15.0
442,SAP,443,24397,5.8,4031.9,46696,18.6,William R. McDermott,Computer Software,Technology,462.0,Germany,"Walldorf, Germany",http://www.sap.com,2,84183,27817,19.0
449,Midea Group,450,24060,8.5,2210.4,24549,9.3,Fang Hongbo,"Electronics, Electrical Equip.",Technology,481.0,China,"Foshan, China",http://www.midea.com,2,126418,8796,31.0
454,Flex,455,23863,-2.3,319.6,12593,-28.0,Michael M. McNamara,Semiconductors and Other Electronic Components,Technology,441.0,Singapore,Singapore,http://www.flex.com,17,200000,2645,-14.0
457,Compal Electronics,458,23773,-10.9,252.1,10769,-7.9,Jui-Tsung Chen,"Computers, Office Equipment",Technology,400.0,Taiwan,"Taipei, Taiwan",http://www.compal.com,6,64728,3283,-58.0
461,Alibaba Group Holding,462,23517,47.9,6489.5,73538,-42.2,Daniel Zhang,Internet Services and Retailing,Technology,NaN,China,"Hangzhou, China",http://www.alibabagroup.com,1,50097,40454,NaN
473,Onex,474,22943,3.8,-130.0,42913,NaN,Gerald W. Schwartz,Semiconductors and Other Electronic Components,Technology,483.0,Canada,"Toronto, Ontario, Canada",http://www.onex.com,18,161000,-490,9.0
477,Tencent Holdings,478,22871,39.7,6185.9,56968,35.0,Pony Ma,Internet Services and Retailing,Technology,NaN,China,"Shenzhen, China",http://www.tencent.com,1,38775,25128,NaN
478,LG Display,479,22840,-9.0,781.4,20606,-8.6,Sang-Beom Han,"Electronics, Electrical Equip.",Technology,429.0,South Korea,"Seoul, South Korea",http://www.lgdisplay.com,6,49094,10729,-50.0

## Sorting Values

In [172]:
selected_rows = f500[f500["country"] == "China"]

In [174]:
selected_rows.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,ceo,industry,sector,previous_rank,country,hq_location,website,years_on_global_500_list,employees,total_stockholder_equity,rank_change
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Kou Wei,Utilities,Energy,2.0,China,"Beijing, China",http://www.sgcc.com.cn,17,926067,209456,0.0
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Wang Yupu,Petroleum Refining,Energy,4.0,China,"Beijing, China",http://www.sinopec.com,19,713288,106523,1.0
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Zhang Jianhua,Petroleum Refining,Energy,3.0,China,"Beijing, China",http://www.cnpc.com.cn,17,1512048,301893,-1.0
21,Industrial & Commercial Bank of China,22,147675,-11.7,41883.9,3473238,-5.0,Gu Shu,Banks: Commercial and Savings,Financials,15.0,China,"Beijing, China",http://www.icbc-ltd.com,19,461749,283438,-7.0
23,China State Construction Engineering,24,144505,3.1,2492.9,201269,10.7,Guan Qing,"Engineering, Construction",Engineering & Construction,27.0,China,"Beijing, China",http://www.cscec.com,6,263915,15344,3.0

In [176]:
sorted_rows = selected_rows.sort_values("employees") #najmanjše do največje
sorted_rows[["company", "country", "employees"]]

                                company country  employees
204                         Noble Group   China       1000
458             Yango Financial Holding   China      10234
438  China National Aviation Fuel Group   China      11739
128                         Tewoo Group   China      17353
182            Amer International Group   China      17852
..                                  ...     ...        ...
37           Agricultural Bank of China   China     501368
2                         Sinopec Group   China     713288
1                            State Grid   China     926067
118                    China Post Group   China     941211
3              China National Petroleum   China    1512048

[109 rows x 3 columns]

In [177]:
sorted_rows = selected_rows.sort_values("employees", ascending = False) #največje do največje
sorted_rows[["company", "country", "employees"]]

                                company country  employees
3              China National Petroleum   China    1512048
118                    China Post Group   China     941211
1                            State Grid   China     926067
2                         Sinopec Group   China     713288
37           Agricultural Bank of China   China     501368
..                                  ...     ...        ...
182            Amer International Group   China      17852
128                         Tewoo Group   China      17353
438  China National Aviation Fuel Group   China      11739
458             Yango Financial Holding   China      10234
204                         Noble Group   China       1000

[109 rows x 3 columns]

<div class="alert alert-block alert-info">
<b>Vaja:</b> Find the company headquartered in Japan with the largest number of employees.</div>

In [180]:
f500[f500['country'] == "Japan"].sort_values("employees", ascending = False).iloc[0]["company"]

'Toyota Motor'

In [181]:
f500[f500['country'] == "Japan"]["employees"].max()

364445

## Using Loops with pandas

In [ ]:
#povprečni revenue za vsako državo

In [185]:
f500["country"].unique()
avg_rev_by_country = {}

for country in countries:
    selected_rows = f500[f500["country"] == country]
    povprecje = selected_rows["revenues"].mean()
    avg_rev_by_country[country] = povprecje
    
avg_rev_by_country

{'USA': 64218.371212121216,
 'China': 55397.880733944956,
 'Japan': 53164.03921568627,
 'Germany': 63915.0,
 'Netherlands': 61708.92857142857,
 'Britain': 51588.708333333336,
 'South Korea': 49725.6,
 'Switzerland': 51353.57142857143,
 'France': 55231.793103448275,
 'Taiwan': 46364.666666666664,
 'Singapore': 54454.333333333336,
 'Italy': 51899.57142857143,
 'Russia': 65247.75,
 'Spain': 40600.666666666664,
 'Brazil': 52024.57142857143,
 'Mexico': 54987.5,
 'Luxembourg': 56791.0,
 'India': 39993.0,
 'Malaysia': 49479.0,
 'Thailand': 48719.0,
 'Australia': 33688.71428571428,
 'Belgium': 45905.0,
 'Norway': 45873.0,
 'Canada': 31848.0,
 'Ireland': 32819.5,
 'Indonesia': 36487.0,
 'Denmark': 35464.0,
 'Saudi Arabia': 35421.0,
 'Sweden': 27963.666666666668,
 'Finland': 26113.0,
 'Venezuela': 24403.0,
 'Turkey': 23456.0,
 'U.A.E': 22799.0,
 'Israel': 21903.0}

<div class="alert alert-block alert-info">
<b>Vaja:</b> Calculate the company that employs the most people in each country</div>

In [194]:
countries = f500["country"].unique()
top_employer_by_country = {}

for country in countries:
    selected_rows = f500[f500["country"] == country]
    sorted_rows = selected_rows.sort_values("employees", ascending = False)
    employer_name = sorted_rows.iloc[0]["company"]
    top_employer_by_country[country] = employer_name
    
top_employer_by_country

{'USA': 'Walmart',
 'China': 'China National Petroleum',
 'Japan': 'Toyota Motor',
 'Germany': 'Volkswagen',
 'Netherlands': 'EXOR Group',
 'Britain': 'Compass Group',
 'South Korea': 'Samsung Electronics',
 'Switzerland': 'Nestle',
 'France': 'Sodexo',
 'Taiwan': 'Hon Hai Precision Industry',
 'Singapore': 'Flex',
 'Italy': 'Poste Italiane',
 'Russia': 'Gazprom',
 'Spain': 'Banco Santander',
 'Brazil': 'JBS',
 'Mexico': 'America Movil',
 'Luxembourg': 'ArcelorMittal',
 'India': 'State Bank of India',
 'Malaysia': 'Petronas',
 'Thailand': 'PTT',
 'Australia': 'Wesfarmers',
 'Belgium': 'Anheuser-Busch InBev',
 'Norway': 'Statoil',
 'Canada': 'George Weston',
 'Ireland': 'Accenture',
 'Indonesia': 'Pertamina',
 'Denmark': 'Maersk Group',
 'Saudi Arabia': 'SABIC',
 'Sweden': 'H & M Hennes & Mauritz',
 'Finland': 'Nokia',
 'Venezuela': 'Mercantil Servicios Financieros',
 'Turkey': 'Koc Holding',
 'U.A.E': 'Emirates Group',
 'Israel': 'Teva Pharmaceutical Industries'}

## Primer: Calculating Return on Assets by Country

In [ ]:
# return on assets

<div class="alert alert-block alert-info">
<b>Vaja:</b> Create a new column roa in the f500 dataframe, containing the return on assets metric for each company.</div>

In [195]:
f500["roa"] = f500["profits"] / f500["assets"]

In [197]:
top_roa_by_sector = {}

for sector in f500["sector"].unique():
    selected_rows = f500[f500["sector"] == sector]
    sorted_rows = selected_rows.sort_values("roa", ascending = False).iloc[0]
    company_name = sorted_rows["company"]
    top_roa_by_sector[sector] = company_name
    
top_roa_by_sector

{'Retailing': 'H & M Hennes & Mauritz',
 'Energy': 'National Grid',
 'Motor Vehicles & Parts': 'Subaru',
 'Financials': 'Berkshire Hathaway',
 'Technology': 'Accenture',
 'Wholesalers': 'McKesson',
 'Health Care': 'Gilead Sciences',
 'Telecommunications': 'KDDI',
 'Engineering & Construction': 'Pacific Construction Group',
 'Industrials': '3M',
 'Food & Drug Stores': 'Publix Super Markets',
 'Aerospace & Defense': 'Lockheed Martin',
 'Food, Beverages & Tobacco': 'Philip Morris International',
 'Household Products': 'Unilever',
 'Transportation': 'Delta Air Lines',
 'Materials': 'CRH',
 'Chemicals': 'LyondellBasell Industries',
 'Media': 'Disney',
 'Apparel': 'Nike',
 'Hotels, Restaurants & Leisure': 'McDonald’s',
 'Business Services': 'Adecco Group'}

<div class="alert alert-block alert-info">
<b>Vaja:</b> Aggregate the data by the sector column, and create a dictionary top_roa_by_sector.</div>

## Understanding SettingwithCopyWarning in pandas

In [198]:
data = pd.read_csv("data/DATA_Xbox.csv")

In [199]:
data.head()

    auctionid    bid   bidtime          bidder  bidderrate  openbid  price
0  8213034705   95.0  2.927373        jake7870           0     95.0  117.5
1  8213034705  115.0  2.943484   davidbresler2           1     95.0  117.5
2  8213034705  100.0  2.951285  gladimacowgirl          58     95.0  117.5
3  8213034705  117.5  2.998947         daysrus          10     95.0  117.5
4  8213060420    2.0  0.065266      donnie4814           5      1.0  120.0

As you can see, each row of our data set concerns a single bid on a specific eBay Xbox auction. Here is a brief description of each column:

- auctionid — A unique identifier of each auction.
- bid — The value of the bid.
- bidtime — The age of the auction, in days, at the time of the bid.
- bidder — eBay username of the bidder.
- bidderrate - The bidder's eBay user rating.
- openbid — The opening bid set by the seller for the auction.
- price — The winning bid at the close of the auction.

### What is SettingWithCopyWarning?


<img class="full-width" src="https://www.dataquest.io/wp-content/uploads/2019/01/view-vs-copy.png" alt="view-vs-copy">



<img class="full-width" src="https://www.dataquest.io/wp-content/uploads/2019/01/modifying.png" alt="modifying">

### Chained assignment

In [200]:
data[data["bidder"] == "parakeet2004"]

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004           5      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004           5      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004           5      1.0  120.0

In [201]:
data[data["bidder"] == "parakeet2004"]["bidderrate"] = 100 #dela nad kopijo, javi napako

/home/kovax/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [202]:
data[data["bidder"] == "parakeet2004"]

    auctionid    bid   bidtime        bidder  bidderrate  openbid  price
6  8213060420   3.00  0.186539  parakeet2004           5      1.0  120.0
7  8213060420  10.00  0.186690  parakeet2004           5      1.0  120.0
8  8213060420  24.99  0.187049  parakeet2004           5      1.0  120.0

In [203]:
data.loc[data["bidder"] == "parakeet2004", "bidderate"] = 100 #pravilno... naredi spremembo na originalu

In [204]:
data[data["bidder"] == "parakeet2004"]

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,bidderate
6,8213060420,3.00,0.186539,parakeet2004,5,1.0,120.0,100.0
7,8213060420,10.00,0.186690,parakeet2004,5,1.0,120.0,100.0
8,8213060420,24.99,0.187049,parakeet2004,5,1.0,120.0,100.0

### Hidden chaining

In [205]:
winners = data.loc[data["bid"] == data["price"]]
winners.head()

,auctionid,bid,bidtime,bidder,bidderrate,openbid,price,bidderate
3,8213034705,117.5,2.998947,daysrus,10,95.00,117.5,NaN
25,8213060420,120.0,2.999722,djnoeproductions,17,1.00,120.0,NaN
44,8213067838,132.5,2.996632,*champaignbubbles*,202,29.99,132.5,NaN
45,8213067838,132.5,2.997789,*champaignbubbles*,202,29.99,132.5,NaN
66,8213073509,114.5,2.999236,rr6kids,4,1.00,114.5,NaN

In [207]:
winners.loc[304, "bidder"]

nan

In [208]:
winners.loc[304, "bidder"] = "therealname"

/home/kovax/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [209]:
winners.loc[304, "bidder"]

'therealname'

In [210]:
data.loc[304, "bidder"]

nan

In [211]:
winners = data.loc[data["bid"] == data["price"]].copy() #pravilno, ker sami kreiramo kopijo
winners.loc[304, "bidder"]

nan

In [212]:
winners.loc[304, "bidder"] = "therealname"
winners.loc[304, "bidder"]

'therealname'

In [213]:
data.loc [304, "bidder"]

nan

### Tips and tricks for dealing with SettingWithCopyWarning