# Priprava in čiščenje podatkov

## Get the data - Reading CSV Files with Encodings

In [1]:
!head -n 3 data/INPUT_laptops.csv

Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM, Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,,1.37kg,"1339,69"
Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,,1.34kg,"898,94"

In [2]:
import pandas as pd
import numpy as np
laptops = pd.read_csv("data/INPUT_laptops.csv", encoding = "Latin-1") #če ni v utf-8 odbiš error

    df = pd.read_csv("filename.csv", encoding="some_encoding")

In [3]:
laptops.head()

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

In [4]:
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB

## Cleaning Column Names

In [5]:
laptops.columns

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', ' Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

In [6]:
laptops_test = laptops.copy()

In [7]:
laptops_test.columns = ['A', 'B', 'C', 'D', 'E',
                        'F', 'G', 'H', 'I', 'J',
                        'K', 'L', 'M']

In [8]:
laptops_test

,A,B,C,D,E,F,G,H,I,J,K,L,M
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,"14.0""",IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows,10,1.8kg,"638,00"
1299,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,"13.3""",IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows,10,1.3kg,"1499,00"
1300,Lenovo,IdeaPad 100S-14IBR,Notebook,"14.0""",1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows,10,1.5kg,"229,00"
1301,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,"15.6""",1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows,10,2.19kg,"764,00"
1302,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,"15.6""",1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows,10,2.2kg,"369,00"

In [9]:
print(laptops_test.columns)

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M'], dtype='object')

In [10]:
#odstranjevfanje belih prostorov iz imen stolpcev
clean_imena = []

for stolpec in laptops.columns:
    clean_stolpec = stolpec.strip() #očisti praznine
    clean_imena.append(clean_stolpec)

In [11]:
clean_imena

['Manufacturer',
 'Model Name',
 'Category',
 'Screen Size',
 'Screen',
 'CPU',
 'RAM',
 'Storage',
 'GPU',
 'Operating System',
 'Operating System Version',
 'Weight',
 'Price (Euros)']

In [12]:
laptops_test.columns = clean_imena

In [13]:
def clean_col(col):
    col = col.strip()
    col = col.replace("Operating System", "os")
    col = col.replace(" ", "_")
    col = col.replace("(", "")
    col = col.replace(")", "")
    col = col.lower()
    return col

In [14]:
new_columns = []

for c in laptops.columns:
    clean_c = clean_col(c)
    new_columns.append(clean_c)

In [15]:
print(new_columns)

['manufacturer', 'model_name', 'category', 'screen_size', 'screen', 'cpu', 'ram', 'storage', 'gpu', 'os', 'os_version', 'weight', 'price_euros']

In [16]:
#v list comprehension obliki

In [17]:
new_columns = [clean_col(c) for c in laptops.columns]
print(new_columns)

['manufacturer', 'model_name', 'category', 'screen_size', 'screen', 'cpu', 'ram', 'storage', 'gpu', 'os', 'os_version', 'weight', 'price_euros']

In [18]:
laptops.columns = new_columns

In [19]:
laptops.head()

,manufacturer,model_name,category,screen_size,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

In [20]:
laptops.info

<bound method DataFrame.info of      manufacturer                           model_name            category  \
0           Apple                          MacBook Pro           Ultrabook
1           Apple                          Macbook Air           Ultrabook
2              HP                               250 G6            Notebook
3           Apple                          MacBook Pro           Ultrabook
4           Apple                          MacBook Pro           Ultrabook
...           ...                                  ...                 ...
1298       Lenovo                       Yoga 500-14ISK  2 in 1 Convertible
1299       Lenovo                       Yoga 900-13ISK  2 in 1 Convertible
1300       Lenovo                   IdeaPad 100S-14IBR            Notebook
1301           HP  15-AC110nv (i7-6500U/6GB/1TB/Radeon            Notebook
1302         Asus  X553SA-XX031T (N3050/4GB/500GB/W10)            Notebook

     screen_size                                      screen  \
0          13.3"          IPS Panel Retina Display 2560x1600
1          13.3"                                    1440x900
2          15.6"                           Full HD 1920x1080
3          15.4"          IPS Panel Retina Display 2880x1800
4          13.3"          IPS Panel Retina Display 2560x1600
...          ...                                         ...
1298       14.0"   IPS Panel Full HD / Touchscreen 1920x1080
1299       13.3"  IPS Panel Quad HD+ / Touchscreen 3200x1800
1300       14.0"                                    1366x768
1301       15.6"                                    1366x768
1302       15.6"                                    1366x768

                                       cpu   ram              storage  \
0                     Intel Core i5 2.3GHz   8GB            128GB SSD
1                     Intel Core i5 1.8GHz   8GB  128GB Flash Storage
2               Intel Core i5 7200U 2.5GHz   8GB            256GB SSD
3                     Intel Core i7 2.7GHz  16GB            512GB SSD
4                     Intel Core i5 3.1GHz   8GB            256GB SSD
...                                    ...   ...                  ...
1298            Intel Core i7 6500U 2.5GHz   4GB            128GB SSD
1299            Intel Core i7 6500U 2.5GHz  16GB            512GB SSD
1300  Intel Celeron Dual Core N3050 1.6GHz   2GB   64GB Flash Storage
1301            Intel Core i7 6500U 2.5GHz   6GB              1TB HDD
1302  Intel Celeron Dual Core N3050 1.6GHz   4GB            500GB HDD

                               gpu       os os_version  weight price_euros
0     Intel Iris Plus Graphics 640    macOS        NaN  1.37kg     1339,69
1           Intel HD Graphics 6000    macOS        NaN  1.34kg      898,94
2            Intel HD Graphics 620    No OS        NaN  1.86kg      575,00
3               AMD Radeon Pro 455    macOS        NaN  1.83kg     2537,45
4     Intel Iris Plus Graphics 650    macOS        NaN  1.37kg     1803,60
...                            ...      ...        ...     ...         ...
1298         Intel HD Graphics 520  Windows         10   1.8kg      638,00
1299         Intel HD Graphics 520  Windows         10   1.3kg     1499,00
1300             Intel HD Graphics  Windows         10   1.5kg      229,00
1301            AMD Radeon R5 M330  Windows         10  2.19kg      764,00
1302             Intel HD Graphics  Windows         10   2.2kg      369,00

[1303 rows x 13 columns]>

## Converting String Columns to Numeric


<p><img alt="string to numeric cleaning workflow" src="images/cleaning_workflow.svg"></p>

In [21]:
print(laptops['screen_size'].dtype)

object

In [22]:
laptops['screen_size'].unique()

array(['13.3"', '15.6"', '15.4"', '14.0"', '12.0"', '11.6"', '17.3"',
       '10.1"', '13.5"', '12.5"', '13.0"', '18.4"', '13.9"', '12.3"',
       '17.0"', '15.0"', '14.1"', '11.3"'], dtype=object)

In [23]:
unique_ram=laptops['ram'].unique()
unique_ram

array(['8GB', '16GB', '4GB', '2GB', '12GB', '6GB', '32GB', '24GB', '64GB'],
      dtype=object)


<p></p><center><img alt="vectorized_string_methods" src="images/Syntax.png"></center><p></p>

In [24]:
laptops['screen_size'] = laptops['screen_size'].str.replace('"', '')

In [25]:
laptops['screen_size'].unique()

array(['13.3', '15.6', '15.4', '14.0', '12.0', '11.6', '17.3', '10.1',
       '13.5', '12.5', '13.0', '18.4', '13.9', '12.3', '17.0', '15.0',
       '14.1', '11.3'], dtype=object)

In [26]:
laptops['ram'] = laptops['ram'].str.replace('GB', '')
laptops['ram'].unique()

array(['8', '16', '4', '2', '12', '6', '32', '24', '64'], dtype=object)

In [27]:
laptops.dtypes

manufacturer    object
model_name      object
category        object
screen_size     object
screen          object
cpu             object
ram             object
storage         object
gpu             object
os              object
os_version      object
weight          object
price_euros     object
dtype: object

In [28]:
laptops['screen_size'] = laptops['screen_size'].astype('float') #pretvorimo v float

In [29]:
laptops['ram'] = laptops['ram'].astype('int')

In [30]:
laptops.dtypes

manufacturer     object
model_name       object
category         object
screen_size     float64
screen           object
cpu              object
ram               int64
storage          object
gpu              object
os               object
os_version       object
weight           object
price_euros      object
dtype: object

## Renaming Columns

In [31]:
laptops.rename({"screen_size":"screen_size_inches"}, axis = 1) #preimenovanje gre preko dictionary (se ne shrani)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4,128GB SSD,Intel HD Graphics 520,Windows,10,1.8kg,"638,00"
1299,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16,512GB SSD,Intel HD Graphics 520,Windows,10,1.3kg,"1499,00"
1300,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2,64GB Flash Storage,Intel HD Graphics,Windows,10,1.5kg,"229,00"
1301,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6,1TB HDD,AMD Radeon R5 M330,Windows,10,2.19kg,"764,00"
1302,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4,500GB HDD,Intel HD Graphics,Windows,10,2.2kg,"369,00"

In [32]:
laptops.rename({"screen_size":"screen_size_inches"}, axis = 1, inplace = True) #shrani preimenovanje

In [33]:
laptops.head(2)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"

In [34]:
laptops.rename(columns={"ram":"ram_GB"}, inplace = True) #druga metoda

In [35]:
laptops.head(2)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_GB,storage,gpu,os,os_version,weight,price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"

In [36]:
laptops['ram_GB'].describe()

count    1303.000000
mean        8.382195
std         5.084665
min         2.000000
25%         4.000000
50%         8.000000
75%         8.000000
max        64.000000
Name: ram_GB, dtype: float64

In [37]:
laptops['gpu'].head()

0    Intel Iris Plus Graphics 640
1          Intel HD Graphics 6000
2           Intel HD Graphics 620
3              AMD Radeon Pro 455
4    Intel Iris Plus Graphics 650
Name: gpu, dtype: object

In [38]:
laptops['gpu'].str.split() #razkosa string

0       [Intel, Iris, Plus, Graphics, 640]
1              [Intel, HD, Graphics, 6000]
2               [Intel, HD, Graphics, 620]
3                  [AMD, Radeon, Pro, 455]
4       [Intel, Iris, Plus, Graphics, 650]
                       ...
1298            [Intel, HD, Graphics, 520]
1299            [Intel, HD, Graphics, 520]
1300                 [Intel, HD, Graphics]
1301               [AMD, Radeon, R5, M330]
1302                 [Intel, HD, Graphics]
Name: gpu, Length: 1303, dtype: object

In [39]:
laptops['gpu_manufacturer'] = laptops['gpu'].str.split().str[0] #str[0] naredi operacijo nad stringi

In [40]:
laptops.head()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_GB,storage,gpu,os,os_version,weight,price_euros,gpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69",Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94",Intel
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00",Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45",AMD
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60",Intel

In [41]:
laptops['cpu_manufacturer'] = laptops['cpu'].str.split().str[0]

In [42]:
laptops.head()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_GB,storage,gpu,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69",Intel,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94",Intel,Intel
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00",Intel,Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45",AMD,Intel
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60",Intel,Intel

In [43]:
laptops['cpu_manufacturer'].value_counts()

Intel      1240
AMD          62
Samsung       1
Name: cpu_manufacturer, dtype: int64

In [44]:
laptops['gpu_manufacturer'].value_counts()

Intel     722
Nvidia    400
AMD       180
ARM         1
Name: gpu_manufacturer, dtype: int64

## Extracting Values from Strings

## Correcting Bad Values - map() method

In [45]:
laptops['os'].value_counts()

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          13
Mac OS          8
Android         2
Name: os, dtype: int64

In [46]:
s = pd.Series(['pair', 'oranje', 'bananna', 'oranje', 'oranje', 'oranje'])

In [47]:
s

0       pair
1     oranje
2    bananna
3     oranje
4     oranje
5     oranje
dtype: object

In [48]:
corrections = {#mapirati je treba tudi vrednosti, ki jih ne želimo spremeniti
    "pair": "pear",
    "oranje": "orange",
    "bananna": "banana"
}

In [49]:
s = s.map(corrections) #če dvakrat mapiraš, se ustreliš v koleno

In [50]:
s

0      pear
1    orange
2    banana
3    orange
4    orange
5    orange
dtype: object

In [51]:
mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}

In [52]:
laptops['os'] = laptops['os'].map(mapping_dict)

In [53]:
laptops['os'].value_counts()

Windows      1125
No OS          66
Linux          62
Chrome OS      27
macOS          21
Android         2
Name: os, dtype: int64

## Introduction to Missing Data

### Trade-Offs in Missing Data Conventions

### Missing Data in Pandas

### None: Pythonic missing data

In [54]:
#Manjkajoči podatki so lahko označeni na različne načine NaN (Not a Number), NoData, Null, -9999 ipd.

In [55]:
vals1 = np.array([1,None,3,4])
vals1

array([1, None, 3, 4], dtype=object)

In [56]:
vals2 = np.array([1,2,3,4], dtype = 'object') #navadni, ne numpy integerji. nižja hitrost
vals2

array([1, 2, 3, 4], dtype=object)

In [57]:
vals2.sum()

10

In [58]:
for dtype in ['object', 'int']:
    print("dtype = ", dtype)
    %timeit np.arange(1E6, dtype = dtype).sum()
    print()

dtype =  object
163 ms ± 15.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

dtype =  int
1.98 ms ± 245 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

### NaN: Missing numerical data

In [59]:
vals2 = np.array([1, np.nan, 3, 4]) #če imamo np.nan, to prepozna kot float vrednost
vals2.dtype

dtype('float64')

In [60]:
1 + np.nan

nan

In [61]:
vals2.sum() #ni errorja, ni pa uporabno

nan

In [62]:
 np.nansum(vals2) #funkcije, ki imajo spredaj nan na ta način preskakujejo NaN-e

8.0

### NaN and None in Pandas

In [63]:
pd.Series([1, np.nan, 2, None]) #pandas tudi None pretvori v Nan

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [64]:
x = pd.Series(range(4), dtype = int)

In [65]:
x[0] = None

In [66]:
x

0    NaN
1    1.0
2    2.0
3    3.0
dtype: float64

In [67]:
y = pd.Series(['asas', 'askkas', None])

In [68]:
y

0      asas
1    askkas
2      None
dtype: object


<table>
<thead><tr>
<th>Typeclass</th>
<th>Conversion When Storing NAs</th>
<th>NA Sentinel Value</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>floating</code></td>
<td>No change</td>
<td><code>np.nan</code></td>
</tr>
<tr>
<td><code>object</code></td>
<td>No change</td>
<td><code>None</code> or <code>np.nan</code></td>
</tr>
<tr>
<td><code>integer</code></td>
<td>Cast to <code>float64</code></td>
<td><code>np.nan</code></td>
</tr>
<tr>
<td><code>boolean</code></td>
<td>Cast to <code>object</code></td>
<td><code>None</code> or <code>np.nan</code></td>
</tr>
</tbody>
</table>

### Operating on Null Values



- `isnull()`: Generate a boolean mask indicating missing values
- `notnull()`: Opposite of isnull()
- `dropna()`: Return a filtered version of the data
- `fillna()`: Return a copy of the data with missing values filled or imputed

#### Detecting null values

In [69]:
data = pd.Series([1, np.nan, 'hello', None])

In [70]:
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [71]:
data.isnull() #naradi masko za Null vrednosti

0    False
1     True
2    False
3     True
dtype: bool

In [72]:
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [73]:
data[data.notnull()] #izpiše samo neničelne vrednosti

0        1
2    hello
dtype: object

#### Dropping null values

In [74]:
data.dropna()

0        1
2    hello
dtype: object

In [75]:
df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])

In [76]:
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [77]:
df.dropna() #vrže ven vse vrstice, ki vsebujejo NaN vrednosti (za kakšno spremembo rabimo inplace())

     0    1  2
1  2.0  3.0  5

In [78]:
df.dropna(axis = 'columns') #vrže ven stolpce, ki imajo NaN vrednosti

   2
0  2
1  5
2  6

In [79]:
df.dropna(axis='columns', how='all') #dropne samo tiste stolpce, ki so celi enaki NaN

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [80]:
df.dropna(axis = 'rows', thresh = 3) #vsebovati mora najmanj 3 ne NaN vredosti, da ostane.

     0    1  2
1  2.0  3.0  5

#### Filling null values

In [81]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))

In [82]:
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [83]:
data.fillna(0) #vse NaN vrednosti napolni z nulo

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [84]:
data.fillna(method='ffill') #napolni NaNe z naslednjo vrednostjo

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [85]:
data.fillna(method='bfill') #napolni NaNe s prejšnjo vrednostjo

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

In [86]:
df.fillna(method='ffill', axis = 1) #napolni NaNe z naslednjo vrednostjo po vrsticah (pri prvi nima od kod vzet)

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  5.0
2  NaN  4.0  6.0

## Dropping Missing Values

In [87]:
laptops.isnull().sum()

manufacturer            0
model_name              0
category                0
screen_size_inches      0
screen                  0
cpu                     0
ram_GB                  0
storage                 0
gpu                     0
os                      0
os_version            170
weight                  0
price_euros             0
gpu_manufacturer        0
cpu_manufacturer        0
dtype: int64

In [88]:
laptops.shape

(1303, 15)

In [89]:
laptops_drops = laptops.dropna(axis=0) #vrgli bi stran vse brez os versiona
laptops_drops.shape

(1133, 15)

In [90]:
laptops_drops = laptops.dropna(axis=1) #vrgli bi stran cel stolpec os
laptops_drops.shape

(1303, 14)

## Filling Missing Values

In [91]:
laptops['os_version'].value_counts(dropna=False)

10      1072
NaN      170
7         45
X          8
10 S       8
Name: os_version, dtype: int64

In [92]:
laptops.loc[laptops['os_version'].isnull(), 'os'].value_counts()

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

In [93]:
laptops.loc[laptops['os'] == 'macOS', ['os', 'os_version']].head()

      os os_version
0  macOS        NaN
1  macOS        NaN
3  macOS        NaN
4  macOS        NaN
6  macOS          X

In [94]:
laptops.loc[laptops['os'] == 'No OS', 'os_version'] = 'Version Unknown' #počistimo no os problem

In [95]:
laptops.loc[laptops['os_version'].isnull(), 'os'].value_counts()

Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64

In [96]:
laptops.loc[laptops['os'] == 'macOS', 'os_version'] = 'X'

In [97]:
laptops.loc[laptops['os_version'].isnull(), 'os'].value_counts()

Linux        62
Chrome OS    27
Android       2
Name: os, dtype: int64

In [98]:
laptops.loc[laptops['os'] == 'Linux', 'os_version'] = 'Version Unknown' #dokončno počistimo manjkajoče vrednosti
laptops.loc[laptops['os'] == 'Chrome OS', 'os_version'] = 'Version Unknown'
laptops.loc[laptops['os'] == 'Android', 'os_version'] = 'Version Unknown'

In [99]:
laptops.loc[laptops['os_version'].isnull(), 'os'].value_counts()

Series([], Name: os, dtype: int64)

In [100]:
laptops.isnull().sum()

manufacturer          0
model_name            0
category              0
screen_size_inches    0
screen                0
cpu                   0
ram_GB                0
storage               0
gpu                   0
os                    0
os_version            0
weight                0
price_euros           0
gpu_manufacturer      0
cpu_manufacturer      0
dtype: int64

In [101]:
laptops['os_version'].value_counts(dropna = False)

10                 1072
Version Unknown     157
7                    45
X                    21
10 S                  8
Name: os_version, dtype: int64

## Removing Duplicates

In [102]:
laptops.duplicated().head() #vrne ali je vrednost podvojena ali ne

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [103]:
laptops.duplicated().value_counts()

False    1275
True       28
dtype: int64

In [104]:
laptops[laptops.duplicated()].head(1)

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_GB,storage,gpu,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
1275,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8,512GB SSD,Intel HD Graphics 515,Windows,10,1.2kg,"729,00",Intel,Intel

In [105]:
zenbook_model = 'ZenBook UX305CA-UBM1'

In [106]:
laptops[laptops['model_name'] == zenbook_model]

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_GB,storage,gpu,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
1261,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8,512GB SSD,Intel HD Graphics 515,Windows,10,1.2kg,"729,00",Intel,Intel
1275,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8,512GB SSD,Intel HD Graphics 515,Windows,10,1.2kg,"729,00",Intel,Intel
1289,Asus,ZenBook UX305CA-UBM1,Ultrabook,13.3,IPS Panel Full HD 1920x1080,Intel Core M 6Y30 0.9GHz,8,512GB SSD,Intel HD Graphics 515,Windows,10,1.2kg,"729,00",Intel,Intel

In [107]:
laptops.shape

(1303, 15)

In [108]:
laptops.drop_duplicates(inplace=True) #počisti podvojene vrstice

In [109]:
laptops.shape

(1275, 15)

## Replacing Values

In [110]:
laptops['manufacturer'].value_counts()

Dell         291
Lenovo       289
HP           268
Asus         152
Acer         101
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Vero           4
Xiaomi         4
Chuwi          3
Google         3
LG             3
Fujitsu        3
Huawei         2
Name: manufacturer, dtype: int64

In [111]:
laptops.replace('MSI', "Micro-Star International", inplace = True) #dela nad celim dataframeom

In [112]:
laptops['manufacturer'].value_counts()

Dell                        291
Lenovo                      289
HP                          268
Asus                        152
Acer                        101
Micro-Star International     54
Toshiba                      48
Apple                        21
Samsung                       9
Razer                         7
Mediacom                      7
Microsoft                     6
Vero                          4
Xiaomi                        4
Chuwi                         3
Google                        3
LG                            3
Fujitsu                       3
Huawei                        2
Name: manufacturer, dtype: int64

## Dropping Columns

In [113]:
laptops.head()

,manufacturer,model_name,category,screen_size_inches,screen,cpu,ram_GB,storage,gpu,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,Intel Iris Plus Graphics 640,macOS,X,1.37kg,"1339,69",Intel,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,Intel HD Graphics 6000,macOS,X,1.34kg,"898,94",Intel,Intel
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,Intel HD Graphics 620,No OS,Version Unknown,1.86kg,"575,00",Intel,Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,AMD Radeon Pro 455,macOS,X,1.83kg,"2537,45",AMD,Intel
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,Intel Iris Plus Graphics 650,macOS,X,1.37kg,"1803,60",Intel,Intel

In [114]:
to_drop = ['category', 'gpu'] #potrebuje inplace

In [115]:
laptops.drop(to_drop, axis=1).head(1)

,manufacturer,model_name,screen_size_inches,screen,cpu,ram_GB,storage,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,macOS,X,1.37kg,"1339,69",Intel,Intel

In [116]:
laptops.drop(to_drop, axis=1, inplace = True)
laptops.head(1)

,manufacturer,model_name,screen_size_inches,screen,cpu,ram_GB,storage,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer
0,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,macOS,X,1.37kg,"1339,69",Intel,Intel

## Vaja

In [117]:
laptops['weight'].head()

0    1.37kg
1    1.34kg
2    1.86kg
3    1.83kg
4    1.37kg
Name: weight, dtype: object

In [118]:
#odstrani kgje in kgs je in preveri če je uspelo. pretvori vse skup v float
#preimenuj stolpec iz weight v weight_kg

In [119]:
laptops['weight'] = laptops['weight'].str.replace('kg', '').str.replace('kgs', '').astype('float')
laptops.rename({"weight":"weight_kg"}, axis = 1, inplace = True)

ValueError: could not convert string to float: '4s'

In [ ]:
laptops.head(1)

In [ ]:
laptops.dtypes

In [ ]:
laptops['weight_kg'] = laptops['weight_kg'].astype('float')

In [ ]:
laptops['weight_kg'] = laptops['weight_kg'].str.replace('s', '').astype('float')

In [ ]:
laptops.dtypes

### Convert the price_euros column to a numeric dtype.

In [ ]:
laptops['price_euros'].str.replace(',','.').astype('float')

In [120]:
laptops['price_euros'].head()

0    1339,69
1     898,94
2     575,00
3    2537,45
4    1803,60
Name: price_euros, dtype: object

### Extract the screen resolution from the screen column.

In [122]:
laptops['screen'].head()

0    IPS Panel Retina Display 2560x1600
1                              1440x900
2                     Full HD 1920x1080
3    IPS Panel Retina Display 2880x1800
4    IPS Panel Retina Display 2560x1600
Name: screen, dtype: object

In [123]:
resolution = laptops['screen'].str.split().str[-1].str.split('x')

In [124]:
laptops['screen_width_px'] = resolution.str[0].astype('int')

In [125]:
laptops['screen_high_px'] = resolution.str[1].astype('int')

In [126]:
laptops.dtypes

manufacturer           object
model_name             object
screen_size_inches    float64
screen                 object
cpu                    object
ram_GB                  int64
storage                object
os                     object
os_version             object
weight                 object
price_euros            object
gpu_manufacturer       object
cpu_manufacturer       object
screen_width_px         int64
screen_high_px          int64
dtype: object

### Extract the processor speed from the cpu column.

In [127]:
# Extract the processor speed from the cpu column
laptops['cpu_speed_ghz'] = (laptops['cpu'].str.split(' ')
                                          .str[-1]
                                          .str.replace('GHz', '')
                                          .astype('float'))

In [128]:
laptops['cpu_speed_ghz'] = laptops['cpu'].str.split().str[-1].str.replace('GHz', '').astype('float')
laptops.head()

,manufacturer,model_name,screen_size_inches,screen,cpu,ram_GB,storage,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer,screen_width_px,screen_high_px,cpu_speed_ghz
0,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,128GB SSD,macOS,X,1.37kg,"1339,69",Intel,Intel,2560,1600,2.3
1,Apple,Macbook Air,13.3,1440x900,Intel Core i5 1.8GHz,8,128GB Flash Storage,macOS,X,1.34kg,"898,94",Intel,Intel,1440,900,1.8
2,HP,250 G6,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,256GB SSD,No OS,Version Unknown,1.86kg,"575,00",Intel,Intel,1920,1080,2.5
3,Apple,MacBook Pro,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,512GB SSD,macOS,X,1.83kg,"2537,45",AMD,Intel,2880,1800,2.7
4,Apple,MacBook Pro,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,256GB SSD,macOS,X,1.37kg,"1803,60",Intel,Intel,2560,1600,3.1

## Save clean data to CSV file

In [129]:
laptops.to_csv('data/OUTPUT_laptops_cleaned.csv', index = False) #izvoz počiščenih podatkov v datoteko

## Analiza

### Are laptops made by Apple more expensive than those made by other manufacturers?

In [138]:
for manufacturer in laptops['manufacturer'].unique():
    selected = laptops[laptops['manufacturer'] == manufacturer]['price_euros']
    print(f'{manufacturer}: {selected.mean()}')

TypeError: Could not convert 1339,69898,942537,451803,602139,971158,702439,971262,401518,552858,001099,00998,001419,001510,002040,001958,901165,001300,001163,001279,00959,00 to numeric

### What is the best value laptop with a screen size of 15" or more?

In [134]:
laptops.loc[laptops['screen_size_inches'] >= 15, ['model_name', 'price_euros', 'screen_size_inches']]. \
sort_values(by='price_euros').head() #backslash pomaga pisati kodo v več vrsticah

               model_name price_euros  screen_size_inches
581         Latitude 5580     1008,52                15.6
962   Aspire F5-573G-510L     1009,00                15.6
1147          Vostro 5568     1009,90                15.6
490         Thinkpad E570     1011,99                15.6
863    Legion Y520-15IKBN     1017,00                15.6

### Which laptop has the most RAM?

In [130]:
laptops[laptops['ram_GB'] == laptops['ram_GB'].max()]

,manufacturer,model_name,screen_size_inches,screen,cpu,ram_GB,storage,os,os_version,weight,price_euros,gpu_manufacturer,cpu_manufacturer,screen_width_px,screen_high_px,cpu_speed_ghz
1066,Asus,ROG G701VO,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 6820HK 2.7GHz,64,1TB SSD,Windows,10,3.58kg,"3975,00",Nvidia,Intel,1920,1080,2.7